<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="front/header::head"></header>
<body>
<div class="ban" aos="fade-zoom-in">
    <img src="/front/images/15629225050881biuut.jpg" class="pcban">
    <img src="/front/images/167e388d555c46b5a078cd286e8c050d.gif" class="mban">
</div>

<div class="nav">
    <div class="w1200 clear" aos="fade-left">
        <div class="left">
            <img src="/front/images/nav.png" alt="">
            <a href="javascript:;">应用</a>
        </div>
    </div>
</div>
<div class="app w1200">
    <div class="app-link">
        <a href="/application/petrochemical" aos="fade-up">
            <img src="/front/images/15634363434286b1kcf.jpg" class="bg">
            <div class="top">
                <div class="center">
                    <div class="icon">
                        <img src="/front/images/156050294793897g9um.png"
                             class="center ">
                        <img src="/front/images/156050295070463gsz.png"
                             class="center after">

                    </div>
                    <div class="ti">石化</div>
                    <div class="ti">Petrochemical</div>

                </div>
            </div>
        </a>
        <a href="/application/oil" aos="fade-up">
            <img src="/front/images/15634363699452kewmo.jpg" class="bg">
            <div class="top">
                <div class="center">
                    <div class="icon">
                        <img src="/front/images/15605029708897rz53d.png"
                             class="center ">
                        <img src="/front/images/15605029738107qmc1q.png"
                             class="center after">

                    </div>
                    <div class="ti">油气</div>
                    <div class="ti">Oil and gas</div>

                </div>
            </div>
        </a>
        <a href="/application/metallurgy" aos="fade-up">
            <img src="/front/images/156343638701373jcix.jpg" class="bg">
            <div class="top">
                <div class="center">
                    <div class="icon">
                        <img src="/front/images/15605029851735o65t6.png"
                             class="center ">
                        <img src="/front/images/15605029876935b9mfe.png"
                             class="center after">
                    </div>
                    <div class="ti">冶金</div>
                    <div class="ti">Metallurgy</div>

                </div>
            </div>
        </a>
        <a href="/application/municipal" aos="fade-up">
            <img src="/front/images/15634364054942fsf94.jpg" class="bg">
            <div class="top">
                <div class="center">
                    <div class="icon">
                        <img src="/front/images/15605029981851x9pwq.png"
                             class="center ">
                        <img src="/front/images/156050300098lc6iy.png"
                             class="center after">

                    </div>
                    <div class="ti">市政工程</div>
                    <div class="ti">Municipal engineering</div>

                </div>
            </div>
        </a>
        <a href="/application/electric" aos="fade-up">
            <img src="/front/images/156343642063994b8rf.jpg" class="bg">
            <div class="top">
                <div class="center">
                    <div class="icon">
                        <img src="/front/images/15605030188694h5e64.png"
                             class="center ">
                        <img src="/front/images/15605030212811hsl4h.png"
                             class="center after">

                    </div>
                    <div class="ti">电力工程</div>
                    <div class="ti">Electric power</div>

                </div>
            </div>
        </a>
        <a href="/application/biopharmaceutical" aos="fade-up">
            <img src="/front/images/1563436439528hltim.jpg" class="bg">
            <div class="top">
                <div class="center">
                    <div class="icon">
                        <img src="/front/images/15605030363342ezmua.png"
                             class="center ">
                        <img src="/front/images/15605030391334dmtsn.png"
                             class="center after">

                    </div>
                    <div class="ti">生物制药</div>
                    <div class="ti">Biopharmaceutical</div>

                </div>
            </div>
        </a>
        <a href="/application/military" aos="fade-up">
            <img src="/front/images/156343645582043xxy5.jpeg" class="bg">
            <div class="top">
                <div class="center">
                    <div class="icon">
                        <img src="/front/images/15605030529291npdw7.png"
                             class="center ">
                        <img src="/front/images/15605030562465yva5o.png"
                             class="center after">

                    </div>
                    <div class="ti">军工、航空航天</div>
                    <div class="ti">Military, aerospace</div>

                </div>
            </div>
        </a>
        <a href="/application/environmental" aos="fade-up">
            <img src="/front/images/15634364671133119nb.jpg" class="bg">
            <div class="top">
                <div class="center">
                    <div class="icon">
                        <img src="/front/images/15605030679629kvdmz.png"
                             class="center ">
                        <img src="/front/images/15605030716061v2bvh.png"
                             class="center after">

                    </div>
                    <div class="ti">环保</div>
                    <div class="ti">Environmental protection</div>

                </div>
            </div>
        </a>
        <a href="/application/rail" aos="fade-up">
            <img src="/front/images/15634364816609ba9qe.jpg" class="bg">
            <div class="top">
                <div class="center">
                    <div class="icon">
                        <img src="/front/images/15605030823737h1ecs.png"
                             class="center ">
                        <img src="/front/images/15605030851334gola5.png"
                             class="center after">

                    </div>
                    <div class="ti">轨道交通</div>
                    <div class="ti">Rail</div>

                </div>
            </div>
        </a>

    </div>
</div>
<footer th:replace="front/footer::footer"></footer>
</body>
<script>
    $(".app span").numberRock({
        speed: 10,
        count: 3600000
    });
    $('.app-link a').eq(0).addClass('act');
    $('.app-link a').hover(function () {
        $(this).addClass('act').siblings().removeClass('act')
    })
</script>
</html>