<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="front/header::head"></header>
<body>
<div class="ban" aos="fade-zoom-in">
    <img src="/front/images/15629225050881biuut.jpg" class="pcban">
    <img src="/front/images/167e388d555c46b5a078cd286e8c050d.gif" class="mban">
</div>

<div class="nav">
    <div class="w1200 clear" aos="fade-left">
        <div class="left">
            <img src="/front/images/nav.png" alt="">
            <a href="http://www.anpe.cn/index.php/application/application.html">应用</a>
            <img src="/front/images/nav2.png" class="nav2">
            <a href="javascript:;">生物制药</a>
        </div>

    </div>
</div>
<div class="product w1200">
    <div class="p-nav" aos="fade-right">
        <a href="/application/petrochemical">石化 </a>
        <a href="/application/oil" >油气</a>
        <a href="/application/metallurgy">冶金</a>
        <a href="/application/municipal">市政工程</a>
        <a href="/application/electric">电力工程</a>
        <a href="/application/biopharmaceutical" class="act">生物制药</a>
        <a href="/application/military">军工、航空航天</a>
        <a href="/application/environmental">环保</a>
        <a href="/application/rail">轨道交通</a>

    </div>

    <div class="product-c appd">

        <div class="appd-ti clear" aos="fade-left">
            <div class="left">
                <img src="/front/images/15605030391334dmtsn.png" alt="">
                生物制药 <span>Biopharmaceutical</span></div>
        </div>
        <div class="de" aos="fade-up">
            <img src="/front/images/15629017190501pv9oj.jpg" class="left">
            <p>　　生物制药的发展离不开医药行业自动化技术的革新。</p>
            <p>　　依托专业化的团队开发以及经验丰富的制药自动化仪表行业经验，先后为中药自动化装置、API原料药装置、原料提取装置、干燥、分离等装置提供产品及解决方案。</p></div>
        <a href="javascript:history.go(-1);" class="btn" aos="fade-zoom-in">返回</a>

    </div>
</div>
<footer th:replace="front/footer::footer"></footer>
</body>

</html>