<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="front/header::head"></header>
<body>
<div class="ban" aos="fade-zoom-in">
    <img src="/front/images/15629225050881biuut.jpg" class="pcban">
    <img src="/front/images/167e388d555c46b5a078cd286e8c050d.gif" class="mban">
</div>

<div class="nav">
    <div class="w1200 clear" aos="fade-left">
        <div class="left">
            <img src="/front/images/nav.png" alt="">
            <a href="/application/index">应用</a>
            <img src="/front/images/nav2.png" class="nav2">
            <a href="javascript:;">环保</a>
        </div>

    </div>
</div>
<div class="product w1200">
    <div class="p-nav" aos="fade-right">
        <a href="/application/petrochemical">石化 </a>
        <a href="/application/oil" >油气</a>
        <a href="/application/metallurgy">冶金</a>
        <a href="/application/municipal">市政工程</a>
        <a href="/application/electric">电力工程</a>
        <a href="/application/biopharmaceutical">生物制药</a>
        <a href="/application/military">军工、航空航天</a>
        <a href="/application/environmental" class="act">环保</a>
        <a href="/application/rail">轨道交通</a>

    </div>

    <div class="product-c appd">

        <div class="appd-ti clear" aos="fade-left">
            <div class="left">
                <img src="/front/images/15605030716061v2bvh.png" alt="">
                环保 <span>Environmental protection</span></div>
        </div>
        <div class="de" aos="fade-up">
            <img src="/front/images/15629020835801hcl35.jpg" class="left">
            <p>
                　　环境问题近些年逐渐成为国家重视和严加监管的行业，也成为世界共同关注的焦点。启电在解决环境问题方面，提供自动化测量与控制系统信号解决方案。其防爆单元、信号处理单元、分别应用于大气环境监测系统、水质环境监测系统、污水处理监测系统。以高精度、强抗干扰度的技术优势，为各监测系统提供可靠与稳定的产品。其产品已成功应用于：水泥、冶金、电力、化工等过程分析系统中。
            </p>
            <p>&nbsp;</p>
            <p><br/></p></div>

        <a href="javascript:history.go(-1);" class="btn" aos="fade-zoom-in">返回</a>

    </div>
</div>
<footer th:replace="front/footer::footer"></footer>
</body>

</html>