<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="front/header::head"></header>
<body>
<div class="ban" aos="fade-zoom-in">
    <img src="/front/images/15629225050881biuut.jpg" class="pcban">
    <img src="/front/images/167e388d555c46b5a078cd286e8c050d.gif" class="mban">
</div>

<div class="nav">
    <div class="w1200 clear" aos="fade-left">
        <div class="left">
            <img src="/front/images/nav.png" alt="">
            <a href="/application/index">应用</a>
            <img src="/front/images/nav2.png" class="nav2">
            <a href="javascript:;">冶金</a>
        </div>
    </div>
</div>
<div class="product w1200">
    <div class="p-nav" aos="fade-right">
        <a href="/application/petrochemical">石化 </a>
        <a href="/application/oil" >油气</a>
        <a href="/application/metallurgy" class="act">冶金</a>
        <a href="/application/municipal">市政工程</a>
        <a href="/application/electric">电力工程</a>
        <a href="/application/biopharmaceutical">生物制药</a>
        <a href="/application/military">军工、航空航天</a>
        <a href="/application/environmental">环保</a>
        <a href="/application/rail">轨道交通</a>

    </div>

    <div class="product-c appd">
        <div class="appd-ti clear" aos="fade-left">
            <div class="left">
                <img src="/front/images/15605029876935b9mfe.png" alt="">
                冶金 <span>Metallurgy</span></div>
        </div>
        <div class="de" aos="fade-up">
            <img src="/front/images/15629015385388venja.jpg" class="left">
            <p>
                　　启电自成立以来，长期致力于保护冶金行业自动化系统的工业安全。针对冶金行业，先后开发了隔离器、配电器、温度变送器、隔离式安全栅等产品，为用户提供防爆及抗干扰等提供一站式解决方案，成为国内冶金行业的主要前级模块仪表的供应商，长期为国内各大冶金工艺段设备服务配套。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                启电产品在冶金行业已经稳定运行多年，成功应用在高炉、转炉、烧结、焦化、工业炉、加热炉、制氧机、氧化铝、铜冶炼等钢铁及有色金属冶炼和加工工艺装置上，为国内冶金企业提供全方位的工业安全解决方案。</p>
            <p><br/></p></div>

        <a href="javascript:history.go(-1);" class="btn" aos="fade-zoom-in">返回</a>

    </div>
</div>
<footer th:replace="front/footer::footer"></footer>
</body>

</html>