<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="front/header::head"></header>
<body>
<div class="ban" aos="fade-zoom-in">
    <img src="/front/images/15629225050881biuut.jpg" class="pcban">
    <img src="/front/images/167e388d555c46b5a078cd286e8c050d.gif" class="mban">
</div>

<div class="nav">
    <div class="w1200 clear" aos="fade-left">
        <div class="left">
            <img src="/front/images/nav.png" alt="">
            <a href="/application/index">应用</a>
            <img src="/front/images/nav2.png" class="nav2">
            <a href="javascript:;">军工、航空航天</a>
        </div>

    </div>
</div>
<div class="product w1200">
    <div class="p-nav" aos="fade-right">
        <a href="/application/petrochemical">石化 </a>
        <a href="/application/oil" >油气</a>
        <a href="/application/metallurgy">冶金</a>
        <a href="/application/municipal">市政工程</a>
        <a href="/application/electric">电力工程</a>
        <a href="/application/biopharmaceutical">生物制药</a>
        <a href="/application/military" class="act">军工、航空航天</a>
        <a href="/application/environmental">环保</a>
        <a href="/application/rail">轨道交通</a>
    </div>

    <div class="product-c appd">

        <div class="appd-ti clear" aos="fade-left">
            <div class="left">
                <img src="/front/images/15605030562465yva5o.png" alt="">
                军工、航空航天 <span>Military, aerospace</span></div>
        </div>
        <div class="de" aos="fade-up">
            <img src="/front/images/15629017627515epcr9.jpeg" class="left">
            <p>　　启电多年来从事测量与控制系统中二次模块仪表的研究与开发，掌握了其本专业领域中核心的防爆、防雷、电磁兼容等技术。</p>
            <p>　　整体产品和性能达到国内领先、国际一流水准，专业领域中产品10余年来获得军工、航空航天等多个项目中的应用。</p>
            <p><br/></p></div>

        <a href="javascript:history.go(-1);" class="btn" aos="fade-zoom-in">返回</a>

    </div>
</div>
<footer th:replace="front/footer::footer"></footer>
</body>

</html>