<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="front/header::head"></header>
<body>
<div class="ban" aos="fade-zoom-in">
    <img src="/front/images/15629225050881biuut.jpg" class="pcban">
    <img src="/front/images/167e388d555c46b5a078cd286e8c050d.gif" class="mban">
</div>

<div class="nav">
    <div class="w1200 clear" aos="fade-left">
        <div class="left">
            <img src="/front/images/nav.png" alt="">
            <a href="http://www.anpe.cn/index.php/application/application.html">应用</a>
            <img src="/front/images/nav2.png" class="nav2">
            <a href="javascript:;">市政工程</a>
        </div>

    </div>
</div>
<div class="product w1200">
    <div class="p-nav" aos="fade-right">
        <a href="/application/petrochemical">石化 </a>
        <a href="/application/oil" >油气</a>
        <a href="/application/metallurgy">冶金</a>
        <a href="/application/municipal" class="act">市政工程</a>
        <a href="/application/electric">电力工程</a>
        <a href="/application/biopharmaceutical">生物制药</a>
        <a href="/application/military">军工、航空航天</a>
        <a href="/application/environmental">环保</a>
        <a href="/application/rail">轨道交通</a>

    </div>

    <div class="product-c appd">

        <div class="appd-ti clear" aos="fade-left">
            <div class="left">
                <img src="/front/images/156050300098lc6iy.png" alt="">
                市政工程 <span>Municipal engineering</span></div>
        </div>
        <div class="de" aos="fade-up">
            <img src="/front/images/15629015997426kd61r.jpg" class="left">
            <p>
                　　市政公众项目需要可靠稳定的产品运营案例，承担过大规模的市政建设项目，启电自成立至今为各大市政工程自动化系统项目配套工业安全仪表。是国内外各大系统商的优质合作伙伴。主要专注于市政水务、水利工程、城市供暖等。其工业自动化仪表隔离器、液位变送器、压力变送器大量应用在城市水务监控系统、水务信息系统、水务自动化系统、暖控制系统等市政系统中。</p>
            <p>　　启电为城市生活提供安全及可靠的安全保障。</p>
            <p>&nbsp;</p>
            <p><br/></p></div>

        <a href="javascript:history.go(-1);" class="btn" aos="fade-zoom-in">返回</a>

    </div>
</div>
<footer th:replace="front/footer::footer"></footer>
</body>

</html>