<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="front/header::head"></header>
<body>
<div class="ban" aos="fade-zoom-in">
    <img src="/front/images/15629225050881biuut.jpg" class="pcban">
    <img src="/front/images/167e388d555c46b5a078cd286e8c050d.gif" class="mban">
</div>

<div class="nav">
    <div class="w1200 clear" aos="fade-left">
        <div class="left">
            <img src="/front/images/nav.png" alt="">
            <a href="/application/index">应用</a>
            <img src="/front/images/nav2.png" class="nav2">
            <a href="javascript:;">油气</a>
        </div>

    </div>
</div>
<div class="product w1200">
    <div class="p-nav" aos="fade-right">
        <a href="/application/petrochemical">石化 </a>
        <a href="/application/oil" class="act">油气</a>
        <a href="/application/metallurgy">冶金</a>
        <a href="/application/municipal">市政工程</a>
        <a href="/application/electric">电力工程</a>
        <a href="/application/biopharmaceutical">生物制药</a>
        <a href="/application/military">军工、航空航天</a>
        <a href="/application/environmental">环保</a>
        <a href="/application/rail">轨道交通</a>

    </div>

    <div class="product-c appd">

        <div class="appd-ti clear" aos="fade-left">
            <div class="left">
                <img src="/front/images/15605029738107qmc1q.png" alt="">
                油气 <span>Oil and gas</span></div>
        </div>
        <div class="de" aos="fade-up">
            <img src="/front/images/156290141403398k4a6.jpg" class="left">
            <p>　　油气管道自动化集成度日益剧增，启电近年来为其提供一系列自动化安全相关的工业仪表产品的解决方案：为油气田上游开采、中下游传输的SCADA自动化、信息化系统提供安全保障。</p>
            <p>
                　　启电在油气田开采及传输工段有着丰富的方案解决经验和现场技术指导能力。防爆产品及防雷产品在管道传输过程中大量应用于长输、首站、末站、分输站等。长期稳定运行及提供油气自动化及信息化服务给客户。</p>
            <p><br/></p></div>

        <a href="javascript:history.go(-1);" class="btn" aos="fade-zoom-in">返回</a>

    </div>
</div>
<footer th:replace="front/footer::footer"></footer>
</body>

</html>