<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="front/header::head"></header>
<body>
<div class="ban" aos="fade-zoom-in">
    <img src="/front/images/15629225050881biuut.jpg" class="pcban">
    <img src="/front/images/167e388d555c46b5a078cd286e8c050d.gif" class="mban">
</div>

<div class="nav">
    <div class="w1200 clear" aos="fade-left">
        <div class="left">
            <img src="/front/images/nav.png" alt="">
            <a href="/application/index">应用</a>
            <img src="/front/images/nav2.png" class="nav2">
            <a href="javascript:;">石化 </a>
        </div>
    </div>
</div>
<div class="product w1200">
    <div class="p-nav" aos="fade-right">
        <a href="/application/petrochemical" class="act">石化 </a>
        <a href="/application/oil" >油气</a>
        <a href="/application/metallurgy">冶金</a>
        <a href="/application/municipal">市政工程</a>
        <a href="/application/electric">电力工程</a>
        <a href="/application/biopharmaceutical">生物制药</a>
        <a href="/application/military">军工、航空航天</a>
        <a href="/application/environmental">环保</a>
        <a href="/application/rail">轨道交通</a>
    </div>
    <div class="product-c appd">

        <div class="appd-ti clear" aos="fade-left">
            <div class="left">
                <img src="/front/images/156050295070463gsz.png" alt="">
                石化 <span>Petrochemical</span></div>
        </div>
        <div class="de" aos="fade-up">
            <img src="/front/images/15629012892161ijxzb.jpg" class="left">
            <p>
                　　石化系统是国家及整个地区重要的主动脉，这些系统很大程度上依赖工业测量与系统的可靠运行。其中，防爆安全以及防雷安全等是保障这些系统的平稳运行重要条件。基于自主知识产权创新，启电为石油和化工行业提供测量与控制系统中的防爆安全与防雷安全、工业安全等一体式的解决方案，可与主流国内外厂家DCS、ESD等系统配套，推升石油化工行业工业仪表信号传输的安全性与稳定性。</p>
            <p>
                　　启电可为用户提供行业化的专业解决方案，以及全方位的产品支持、方案设计、工程售后服务等。有多年积累的石油化工流程装置的应用经验和解决方案，如：烯烃、聚乙烯、苯乙烯、聚丙烯、聚氯乙烯、合成氨、聚对苯二甲酸丁二醇酯等典型装置应用案例。</p>
            <p><br/></p></div>

        <a href="javascript:history.go(-1);" class="btn" aos="fade-zoom-in">返回</a>

    </div>
</div>
<footer th:replace="front/footer::footer"></footer>
</body>

</html>