<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="front/header::head"></header>
<body>
<div class="ban" aos="fade-zoom-in">
    <img src="/front/images/15629225050881biuut.jpg" class="pcban">
    <img src="/front/images/167e388d555c46b5a078cd286e8c050d.gif" class="mban">
</div>

<div class="nav">
    <div class="w1200 clear" aos="fade-left">
        <div class="left">
            <img src="/front/images/nav.png" alt="">
            <a href="/application/index">应用</a>
            <img src="/front/images/nav2.png" class="nav2">
            <a href="javascript:;">轨道交通</a>
        </div>

    </div>
</div>
<div class="product w1200">
    <div class="p-nav" aos="fade-right">
        <a href="/application/petrochemical">石化 </a>
        <a href="/application/oil" >油气</a>
        <a href="/application/metallurgy">冶金</a>
        <a href="/application/municipal">市政工程</a>
        <a href="/application/electric">电力工程</a>
        <a href="/application/biopharmaceutical">生物制药</a>
        <a href="/application/military">军工、航空航天</a>
        <a href="/application/environmental">环保</a>
        <a href="/application/rail" class="act">轨道交通</a>

    </div>

    <div class="product-c appd">

        <div class="appd-ti clear" aos="fade-left">
            <div class="left">
                <img src="/front/images/15605030851334gola5.png" alt="">
                轨道交通 <span>Rail</span></div>
        </div>
        <div class="de" aos="fade-up">
            <img src="/front/images/15629021365526vek3u.jpg" class="left">
            <p>
                　　启电自主研究与开发的电涌保护器、隔离器为其轨道交通的供电系统（高压供电、动力照明等）、信号系统（列车自动化控制系统CBTC等）、通讯系统（视频监控、无线通信、电话系统等）提供防雷与抗干扰等解决方案。其中信号型电涌保护器、电源型电涌保护器、通讯型电涌保护器、隔离器等产品成为国内城市轨道交通信号仪表的主力供应商。该系列产品先后获得SIL3、UL、CE、TUV等一系列认证。</p>
            <p>　　我们不仅提供核心产品，还提供健全的轨道交通系统全面的解决方案。</p>
            <p>&nbsp;</p>
            <p><br/></p></div>

        <a href="javascript:history.go(-1);" class="btn" aos="fade-zoom-in">返回</a>

    </div>
</div>

<footer th:replace="front/footer::footer"></footer>
</body>

</html>