<html xmlns:th="http://www.thymeleaf.org">



<header th:replace="front/header::head"></header>
<link rel="stylesheet" href="/front/css/swiper.min.css" type="text/css" media="screen" charset="utf-8">
<script src="/front/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/front/css/certify.css" type="text/css" media="screen" charset="utf-8">
<body>
<div class="ban" aos="fade-zoom-in">
    <img src="/front/images/15621458091186kl5v7.jpg" class="pcban">
</div>
<div class="nav">
    <div class="w1200 clear" aos="fade-left">
        <div class="left">
            <img src="/front/images/nav.png" alt="">
            <a href="javascript:;">公司</a>
            <img src="/front/images/nav2.png" class="nav2">
            <a href="javascript:;">资质荣誉</a>
        </div>
        <ul class="right">
            <li>
                <a href="/company/showProfile">公司简介</a>
            </li>
            <li>
                <a href="/company/showIdea">企业理念</a>
            </li>
            <li>
                <a href="/company/showLeader">企业领军</a>
            </li>
            <li class="act">
                <a href="/company/showHonour">资质荣誉</a>
            </li>
            <li>
                <a href="/company/showProduce">智能制造</a>
            </li>
            <li>
                <a href="/company/showMix">两化融合</a>
            </li>
            <li>
                <a href="/company/showTech">技术研发</a>
            </li>
        </ul>
    </div>
</div>
<div class="honour w1200">
    <div class="about-ti" aos="fade-up">资质荣誉</div>
    <div id="certify" aos="fade-up">
        <div class="swiper-container" style="height: 210px;">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="http://www.anpe.cn/web/upload/2019/07/12/15628960291467q45hr.png"/>
                </div>
                <div class="swiper-slide"><img src="http://www.anpe.cn/web/upload/2019/07/12/156289606427186pvoh.png"/>
                </div>
                <div class="swiper-slide"><img src="http://www.anpe.cn/web/upload/2019/07/12/15628960955916hls4c.png"/>
                </div>
                <div class="swiper-slide"><img src="http://www.anpe.cn/web/upload/2019/07/12/15628961275458p910w.png"/>
                </div>
                <div class="swiper-slide"><img src="http://www.anpe.cn/web/upload/2019/07/12/15628962206213meavf.png"/>
                </div>
                <div class="swiper-slide"><img src="http://www.anpe.cn/web/upload/2019/07/12/15628962877898t7ry8.png"/>
                </div>

            </div>
        </div>
    </div>
    <div class="honulb">
        <ul class="hon-ul" aos="fade-up">
            <li>
                <a href="javascript:;">企业资质</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/218.html">高新技术企业</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/217.html">AAA 资信等级</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/216.html">江苏省民营科技企业</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/215.html">通过GB/T 23001-2017两化融合管理体系认证</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/373.html">通过安全生产标准化认证</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/211.html">通过ATEX/IECEx防爆质量管理体系认证</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/214.html">通过ISO 9001:2015质量管理体系认证</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/213.html">通过ISO14001:2015环境管理体系认证</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/212.html">通过OHSAS 18001:2007职业健康安全管理体系认证</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/372.html">通过GB/T 29490-2013企业知识产权管理体系绩效评价</a>
            </li>
        </ul>
        <ul class="hon-ul" aos="fade-up">
            <li>
                <a href="javascript:;">政府荣誉</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/226.html">标准化良好行为示范企业</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/225.html">江苏省优秀企业</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/224.html">江苏制造突出贡献奖优秀企业</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/221.html">江苏省示范智能车间</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/220.html">江苏省科技小巨人企业</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/222.html">江苏省信息化与工业化融合试点企业</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/223.html">南京市首批智能工厂建设企业</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/382.html">南京市制造业单项冠军企业</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/378.html">南京市标准化项目二等奖</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/219.html">南京市平安企业</a>
            </li>
        </ul>
        <ul class="hon-ul" aos="fade-up">
            <li>
                <a href="javascript:;">行业担当</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/385.html">安全栅国标负责起草单位</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/390.html">全国工业测量与控制及自动化标准技术委员会TC124委员单位</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/391.html">全国工业防爆电气标准化技术委员会TC9委员单位</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/393.html">中国仪器仪表学会常务理事单位</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/394.html">中国仪器仪表行业协会理事单位</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/389.html">江苏省自动化学会工业自动化专业委员会主任委员单位</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/395.html">江苏省工程师学会智能制造专业委员会常务副主任委员单位</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/387.html">江苏省研究生工作站</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/392.html">Hart通信基金会会员单位</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/388.html">南京市企业技术中心</a>
            </li>

        </ul>
        <ul class="hon-ul" aos="fade-up">
            <li>
                <a href="javascript:;">产品认证</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/337.html">TUV功能安全认证</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/386.html">ATEX防爆认证</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/397.html">IECEx防爆认证</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/404.html">UL产品认证</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/398.html">CE认证</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/399.html">RoHS认证</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/401.html">CCS型式认可</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/400.html">国家防爆认证</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/403.html">防雷型式试验</a>
            </li>
            <li>
                <a href="http://www.anpe.cn/index.php/about/detail/402.html">IEC 60068-2-60防腐认证</a>
            </li>


        </ul>
    </div>

</div>

<footer th:replace="front/footer::footer"></footer>
</body>
<script>
    $(function(){
        var timer = setTimeout(timer1, 100);
        function timer1() {
            $('.honour .swiper-slide-prev').prev().css("transform", "translateX(90px) scale(0.6)");
            $('.honour .swiper-slide-next').next().css("transform", "translateX(-90px) scale(0.6)");
        }

        certifySwiper = new Swiper('#certify .swiper-container', {
            watchSlidesProgress: true,
            slidesPerView: 'auto',
            centeredSlides: true,
            loop: true,
            loopedSlides: 5,
            autoplay: true,
            on: {
                init: function() {
                    $('.honour .swiper-slide-prev').prev().css("transform", "translateX(90px) scale(0.6)");
                    $('.honour .swiper-slide-next').next().css("transform", "translateX(-90px) scale(0.6)");
                },
                progress: function(progress) {
                    for (i = 0; i < this.slides.length; i++) {
                        var slide = this.slides.eq(i);
                        var slideProgress = this.slides[i].progress;
                        modify = 1;
                        if (Math.abs(slideProgress) > 1) {
                            modify = (Math.abs(slideProgress) - 1) * 0.3 + 1;
                        }
                        translate = slideProgress * modify * 15 + 'px';
                        scale = 1 - Math.abs(slideProgress) / 5;
                        zIndex = 999 - Math.abs(Math.round(10 * slideProgress));
                        slide.transform('translateX(' + translate + ') scale(' + scale + ')');
                        slide.css('zIndex', zIndex);
                        slide.css('opacity', 1);
                        if (Math.abs(slideProgress) > 3) {
                            slide.css('opacity', 0);
                        }
                    }
                },
                setTransition: function(transition) {
                    for (var i = 0; i < this.slides.length; i++) {
                        var slide = this.slides.eq(i)
                        slide.transition(transition);
                    }

                },
                slideChangeTransitionStart: function() {
                    $('.honour .swiper-slide-prev').prev().css("transform", "translateX(90px) scale(0.6)");
                    $('.honour .swiper-slide-next').next().css("transform", "translateX(-90px) scale(0.6)");
                },

            }
        })

    })
</script>
</html>