<html xmlns:th="http://www.thymeleaf.org">

<header th:replace="front/header::head"></header>
<body>
<div class="ban" aos="fade-zoom-in">
    <img src="/front/images/156160074057655m0ju.jpg" class="pcban">
    <img src="/front/images/15619483691068eszqk.jpg" class="mban">
</div>
<div class="nav">
    <div class="w1200 clear" aos="fade-left">
        <div class="left">
            <img src="/front/images/nav.png" alt="">
            <a href="javascript:;">公司</a>
            <img src="/front/images/nav2.png" class="nav2">
            <a href="javascript:;">企业理念</a>
        </div>
        <ul class="right">
            <li>
                <a href="/company/showProfile">公司简介</a>
            </li>
            <li class="act">
                <a href="/company/showIdea">企业理念</a>
            </li>
            <li>
                <a href="/company/showLeader">企业领军</a>
            </li>
            <li>
                <a href="/company/showHonour">资质荣誉</a>
            </li>
            <li>
                <a href="/company/showProduce">智能制造</a>
            </li>
            <li>
                <a href="/company/showMix">两化融合</a>
            </li>
            <li>
                <a href="/company/showTech">技术研发</a>
            </li>
        </ul>
    </div>
</div>
<div class="prof w1200">
    <div class="about-ti" aos="fade-up">企业理念：让天下没有难采集的信号</div>
    <p style="transition: all 0.5s ease 0s; margin-top: 0px; margin-bottom: 0px; padding: 0px; text-align: justify;">
        <br/></p>
    <div class="ded aos-init aos-animate" aos="fade-up"
         style="transition: all 0.8s cubic-bezier(0.25, 0.1, 0.25, 1) 0s; transform: translate(0px, 0px); font-size: 18px; color: rgb(64, 64, 64); line-height: 35px; margin-bottom: 20px; opacity: 1; font-family: &quot;Microsoft YaHei&quot;, é»‘ä½“, å®‹ä½“, sans-serif; white-space: normal; background-color: rgb(255, 255, 255);">

          <p style="text-indent:2em;transition: all 0.5s ease 0s; margin-top: 0px; margin-bottom: 0px; padding: 0px; text-align: left;">
              “社会的进步，我们的责任”。启电将秉承 “诚信、敬业、责任、创新、合作” 的企业精神，铭记 “行业领先，产业报国” 的使命，以 “客户为中心” 不断提升产品质量、服务和性价比，为客户创造更多价值，并为共同构建安全、便捷、稳定、轻松的高品质生活而不懈努力。
          </p>
        <p style="transition: all 0.5s ease 0s; margin-top: 0px; margin-bottom: 0px; padding: 0px;"><br/></p>
        <p style="transition: all 0.5s ease 0s; margin-top: 0px; margin-bottom: 0px; padding: 0px; text-align: left;">
            <img style="margin-left: 15%;width: 70%;height: 70%" src="/front/images/idea.jpg" title="idea.jpg" alt="038（表情修复）---副本.jpg"/></p>
    </div>
</div>
<footer th:replace="front/footer::footer"></footer>

</body>

</html>