<html xmlns:th="http://www.thymeleaf.org">

<header th:replace="front/header::head"></header>
<body>
<div class="ban" aos="fade-zoom-in">
    <img src="/front/images/156160074057655m0ju.jpg" class="pcban">
    <img src="/front/images/15619483691068eszqk.jpg" class="mban">
</div>
<div class="nav">
    <div class="w1200 clear" aos="fade-left">
        <div class="left">
            <img src="/front/images/nav.png" alt="">
            <a href="javascript:;">公司</a>
            <img src="/front/images/nav2.png" class="nav2">
            <a href="javascript:;">企业理念</a>
        </div>
        <ul class="right">
            <li>
                <a href="/company/showProfile">公司简介</a>
            </li>
            <li class="act">
                <a href="/company/showIdea">企业理念</a>
            </li>
            <li>
                <a href="/company/showLeader">企业领军</a>
            </li>
            <li>
                <a href="/company/showHonour">资质荣誉</a>
            </li>
            <li>
                <a href="/company/showProduce">智能制造</a>
            </li>
            <li>
                <a href="/company/showMix">两化融合</a>
            </li>
            <li>
                <a href="/company/showTech">技术研发</a>
            </li>
        </ul>
    </div>
</div>
<div class="prof w1200">
    <div class="about-ti" aos="fade-up">企业理念</div>
    <p style="transition: all 0.5s ease 0s; margin-top: 0px; margin-bottom: 0px; padding: 0px; text-align: justify;">
        <br/></p>
    <div class="ded aos-init aos-animate" aos="fade-up"
         style="transition: all 0.8s cubic-bezier(0.25, 0.1, 0.25, 1) 0s; transform: translate(0px, 0px); font-size: 18px; color: rgb(64, 64, 64); line-height: 35px; margin-bottom: 20px; opacity: 1; font-family: &quot;Microsoft YaHei&quot;, é»‘ä½“, å®‹ä½“, sans-serif; white-space: normal; background-color: rgb(255, 255, 255);">
        <p style="transition: all 0.5s ease 0s; margin-top: 0px; margin-bottom: 0px; padding: 0px; text-align: left;">
            <span style="color: rgb(64, 64, 64); font-family: &quot;Microsoft YaHei&quot;, é»‘ä½“, å®‹ä½“, sans-serif; font-size: 18px; text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">凭借高品质的产品，体现我们的责任感，凝聚团队的智慧与付出，以满足客户需求，贡献我们的价值。</span>
        </p>
        <p style="transition: all 0.5s ease 0s; margin-top: 0px; margin-bottom: 0px; padding: 0px; text-align: left;">
            在我们所专注的信号接口及安全仪表领域，研究已深入到产品的每一个细节—— 至微、至细、至专，并通过智能制造，力求世界一流品质。</p>
        <p style="transition: all 0.5s ease 0s; margin-top: 0px; margin-bottom: 0px; padding: 0px; text-align: left;">
            过去的十七年，以及更长久的未来 ，我们会始终坚持目标而不改变。</p>
        <p style="transition: all 0.5s ease 0s; margin-top: 0px; margin-bottom: 0px; padding: 0px;"><br/></p>
        <p style="transition: all 0.5s ease 0s; margin-top: 0px; margin-bottom: 0px; padding: 0px; text-align: left;">
            <img src="/front/images/1575941900537866usti.jpg" title="1575941900537866uStI.jpg" alt="038（表情修复）---副本.jpg"/></p>
    </div>
</div>
<footer th:replace="front/footer::footer"></footer>

</body>

</html>