<html xmlns:th="http://www.thymeleaf.org">

<header th:replace="front/header::head"></header>
<body>
<div class="ban" aos="fade-zoom-in">
    <img src="/front/images/15719855932644fb4sn.jpg" class="pcban">
    <img src="/front/images/424e3205b88b4854b8f31b694146edb5.gif" class="mban">
</div>
<div class="nav">
    <div class="w1200 clear" aos="fade-left">
        <div class="left">
            <img src="/front/images/nav.png" alt="">
            <a href="javascript:;">公司</a>
            <img src="/front/images/nav2.png" class="nav2">
            <a href="javascript:;">企业领军</a>
        </div>
        <ul class="right">
            <li>
                <a href="/company/showProfile">公司简介</a>
            </li>
            <li>
                <a href="/company/showIdea">企业理念</a>
            </li>
            <li class="act">
                <a href="/company/showLeader">企业领军</a>
            </li>
            <li>
                <a href="/company/showHonour">资质荣誉</a>
            </li>
            <li>
                <a href="/company/showProduce">智能制造</a>
            </li>
            <li>
                <a href="/company/showMix">两化融合</a>
            </li>
            <li>
                <a href="/company/showTech">技术研发</a>
            </li>
        </ul>
    </div>
</div>
<div class="leader w1200">
    <div class="about-ti" aos="fade-up">企业领军</div>
    <div class="top" aos="fade-up">
        <div class="lea-pic" aos="fade-right">
            <div class="pic">
                <img src="http://www.anpe.cn/web/upload/2019/06/13/1560394342835634qm0.png" alt="">
            </div>
            <div class="font">
                <div class="ti">董健</div>
                <div class="tit">董事长 高级工程师</div>
            </div>
        </div>
        <div class="lea-zi" aos="fade-up">
            <p class="ti"
               style="transition: all 0.5s ease 0s; margin-top: 0px; margin-bottom: 10px; padding: 0px; text-align: justify; font-size: 18px; color: rgb(51, 51, 51); line-height: 30px; font-weight: bold; font-family: &quot;Microsoft YaHei&quot;, é»‘ä½“, å®‹ä½“, sans-serif; white-space: normal; background-color: rgb(246, 247, 251);">
                荣获2017年年度中国标准化助力奖<br/></p>
            <p class="ti"
               style="transition: all 0.5s ease 0s; margin-top: 0px; margin-bottom: 10px; padding: 0px; text-align: justify; font-size: 18px; color: rgb(51, 51, 51); line-height: 30px; font-weight: bold; font-family: &quot;Microsoft YaHei&quot;, é»‘ä½“, å®‹ä½“, sans-serif; white-space: normal; background-color: rgb(246, 247, 251);">
                荣获2018年南京市市长质量奖个人提名奖</p>
            <p style="transition: all 0.5s ease 0s; margin-top: 0px; margin-bottom: 0px; padding: 0px; text-align: justify; color: rgb(64, 64, 64); line-height: 30px; font-family: &quot;Microsoft YaHei&quot;, é»‘ä½“, å®‹ä½“, sans-serif; white-space: normal; background-color: rgb(246, 247, 251);">
                南京大学控制工程领域 特聘研究生导师</p>
            <p style="transition: all 0.5s ease 0s; margin-top: 0px; margin-bottom: 0px; padding: 0px; text-align: justify; color: rgb(64, 64, 64); line-height: 30px; font-family: &quot;Microsoft YaHei&quot;, é»‘ä½“, å®‹ä½“, sans-serif; white-space: normal; background-color: rgb(246, 247, 251);">
                中国仪器仪表学会 常务理事</p>
            <p style="transition: all 0.5s ease 0s; margin-top: 0px; margin-bottom: 0px; padding: 0px; text-align: justify; color: rgb(64, 64, 64); line-height: 30px; font-family: &quot;Microsoft YaHei&quot;, é»‘ä½“, å®‹ä½“, sans-serif; white-space: normal; background-color: rgb(246, 247, 251);">
                全国工业过程测量与控制及自动化标准化委员会TC124 委员</p>
            <p style="transition: all 0.5s ease 0s; margin-top: 0px; margin-bottom: 0px; padding: 0px; text-align: justify; color: rgb(64, 64, 64); line-height: 30px; font-family: &quot;Microsoft YaHei&quot;, é»‘ä½“, å®‹ä½“, sans-serif; white-space: normal; background-color: rgb(246, 247, 251);">
                全国工业电气防爆标准化技术委员会TC9 委员</p>
            <p style="transition: all 0.5s ease 0s; margin-top: 0px; margin-bottom: 0px; padding: 0px; text-align: justify; color: rgb(64, 64, 64); line-height: 30px; font-family: &quot;Microsoft YaHei&quot;, é»‘ä½“, å®‹ä½“, sans-serif; white-space: normal; background-color: rgb(246, 247, 251);">
                工信部《智能制造标准化及验证项目》工作组 专家</p>
            <p style="transition: all 0.5s ease 0s; margin-top: 0px; margin-bottom: 0px; padding: 0px; text-align: justify; color: rgb(64, 64, 64); line-height: 30px; font-family: &quot;Microsoft YaHei&quot;, é»‘ä½“, å®‹ä½“, sans-serif; white-space: normal; background-color: rgb(246, 247, 251);">
                主持起草《隔离式安全栅》等国家标准</p></div>
    </div>
    <div class="bot" aos="fade-up">
        <div class="font">
            <div class="tip">
                优秀的团队高效而卓具激情<br><br>——永无止境，追求更好
            </div>
            <!-- <div class="tipr">
                ——永无止境，追求更好
            </div> -->
            <div class="en">
                Excellent team is efficient and passionate - never ending, pursuing better
            </div>
            <!-- <div class="enr">
                - never ending, pursuing better
            </div> -->
        </div>
        <div class="pic" aos="fade-left">
            <p><br/></p>
            <p style="transition: all 0.5s ease 0s; margin-top: 0px; margin-bottom: 0px; padding: 0px; text-align: justify;">
                <span style="transition: all 0.5s ease 0s; font-family: &quot;Microsoft YaHei&quot;, é»‘ä½“, å®‹ä½“, sans-serif; font-size: 0px; white-space: normal; background-color: rgb(246, 247, 251);">&nbsp;</span>
            </p>
            <p style="transition: all 0.5s ease 0s; margin-top: 0px; margin-bottom: 0px; padding: 0px; text-align: justify;">
                <br style="transition: all 0.5s ease 0s; font-family: &quot;Microsoft YaHei&quot;, é»‘ä½“, å®‹ä½“, sans-serif; font-size: 0px; white-space: normal; background-color: rgb(246, 247, 251);"/>
            </p>
            <p><img src="http://www.anpe.cn/web/upload/at/image/20191210/1575942353664222PYnu.jpg"
                    title="1575942353664222PYnu.jpg" alt="lea1.jpg"/></p></div>
    </div>
</div>
<footer th:replace="front/footer::footer"></footer>
</body>

</html>