<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="front/header::head"></header>
<body>
<div class="ban" aos="fade-zoom-in">
    <img src="/front/images/157605106707095smac.jpg" class="pcban">
</div>

<div class="nav">
    <div class="w1200 clear" aos="fade-left">
        <div class="left">
            <img src="/front/images/nav.png" alt="">
            <a href="javascript:;">公司</a>
            <img src="/front/images/nav2.png" class="nav2">
            <a href="javascript:;">两化融合</a>
        </div>
        <ul class="right">
            <li>
                <a href="/company/showProfile">公司简介</a>
            </li>
            <li>
                <a href="/company/showIdea">企业理念</a>
            </li>
            <li>
                <a href="/company/showLeader">企业领军</a>
            </li>
            <li>
                <a href="/company/showHonour">资质荣誉</a>
            </li>
            <li>
                <a href="/company/showProduce">智能制造</a>
            </li>
            <li class="act">
                <a href="/company/showMix">两化融合</a>
            </li>
            <li>
                <a href="/company/showTech">技术研发</a>
            </li>
        </ul>
    </div>
</div>
<div class="mix w1200">
    <div class="about-ti" aos="fade-up">两化融合</div>
    <div class="top">
        <div class="top-one" aos="fade-up">
            <div class="ti">我们，以信息化助力可持续发展</div>
            <div class="de"><p><span
                    style="color: rgb(89, 87, 87); font-family: &quot;Microsoft YaHei&quot;, é»‘ä½“, å®‹ä½“, sans-serif; white-space: normal; background-color: rgb(255, 255, 255);">投入应用优倍自主产权的PLM、MES、APP、虚拟仿真等先进工业软件，结合ERP等信息系统，彻底消灭信息孤岛，完成了数据从控制端到企业层的互联互通，实现了产品从研发、制造到服务的全生命周期管理。</span>
            </p></div>
        </div>
        <div class="top-two" aos="fade-left">
            <img src="http://www.anpe.cn/web/upload/2019/06/13/15604060811267owbrq.png" alt="">

        </div>
    </div>
    <div class="pic-ul" aos="fade-up">
        <img src="http://www.anpe.cn/web/upload/2019/06/13/156040617465516lm1w.jpg" alt="">
        <img src="http://www.anpe.cn/web/upload/2019/06/13/15604061811875her8q.jpg" alt="">
        <img src="http://www.anpe.cn/web/upload/2019/06/13/1560406191744rv3ex.jpg" alt="">
        <img src="http://www.anpe.cn/web/upload/2019/06/13/15604061970981q4ian.jpg" alt="">
        <img src="http://www.anpe.cn/web/upload/2019/06/13/15604062033198oew6d.jpg" alt="">
        <img src="http://www.anpe.cn/web/upload/2019/06/13/15604062089374b4kqy.jpg" alt="">
    </div>
</div>
<footer th:replace="front/footer::footer"></footer>
</body>

</html>