<html xmlns:th="http://www.thymeleaf.org">

<header th:replace="front/header::head"></header>
<body>
<div class="ban" aos="fade-zoom-in">
    <img src="/front/images/15760515412157c2ogr.jpg" class="pcban">
    <img src="/front/images/424e3205b88b4854b8f31b694146edb5.gif" class="mban">
</div>

<div class="nav">
    <div class="w1200 clear" aos="fade-left">
        <div class="left">
            <img src="/front/images/nav.png" alt="">
            <a href="javascript:;">公司</a>
            <img src="/front/images/nav2.png" class="nav2">
            <a href="javascript:;">智能制造</a>
        </div>
        <ul class="right">
            <li>
                <a href="/company/showProfile">公司简介</a>
            </li>
            <li>
                <a href="/company/showIdea">企业理念</a>
            </li>
            <li>
                <a href="/company/showLeader">企业领军</a>
            </li>
            <li>
                <a href="/company/showHonour">资质荣誉</a>
            </li>
            <li class="act">
                <a href="/company/showProduce">智能制造</a>
            </li>
            <li>
                <a href="/company/showMix">两化融合</a>
            </li>
            <li>
                <a href="/company/showTech">技术研发</a>
            </li>
        </ul>
    </div>
</div>
<div class="produce w1200">
    <div class="about-ti" aos="fade-up">我们，以智能制造诠释生产效能</div>
    <div class="top">
        <div class="topl" style="width: 100%">
            <div class="de"><p><span
                    style="color: rgb(89, 87, 87); background-color: rgb(255, 255, 255);">我公司拥有世界先进的柔性SMT、选择性波峰焊等生产装备，所有产品标签均采用激光打印。并自行研发了智能高低温综合测试老化房、智能接驳台、智能分板机等大量创新型智能装备，生产线达到了高度自动化水平。</span>
            </p></div>
        </div>
        <div>
            <img src="/front/images/produce.jpg" style="margin-top:1%;margin-bottom:3%;margin-left:10%;width: 80%;height: 70%"/>
        </div>
    </div>

</div>
<footer th:replace="front/footer::footer"></footer>

</body>

</html>