<html xmlns:th="http://www.thymeleaf.org">

<header th:replace="front/header::head"></header>
<body>
    <div class="ban" aos="fade-zoom-in">
        <img src="/front/images/15619482926086lhcb2.jpg" class="pcban">
        <img src="/front/images/156160162451913k6ts.jpg" class="mban">
    </div>
    <div class="nav">
        <div class="w1200 clear" aos="fade-left">
            <div class="left">
                <img src="/front/images/nav.png" alt="">
                <a href="javascript:;">公司</a>
                <img src="/front/images/nav2.png" class="nav2">
                <a href="javascript:;">公司简介</a>
            </div>
            <ul class="right">
                <li class="act">
                    <a href="/company/showProfile">公司简介</a>
                </li>
                <li>
                    <a href="/company/showIdea">企业理念</a>
                </li>
                <li>
                    <a href="/company/showLeader">企业领军</a>
                </li>
                <li>
                    <a href="/company/showHonour">资质荣誉</a>
                </li>
                <li>
                    <a href="/company/showProduce">智能制造</a>
                </li>
                <li>
                    <a href="/company/showMix">两化融合</a>
                </li>
                <li>
                    <a href="/company/showTech">技术研发</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="prof w1200">
        <div class="about-ti" aos="fade-up">公司简介</div>
        <div class="top">
            <div aos="fade-right">
                <div class="pic aos-init aos-animate" aos="fade-right"
                     style="transition: all 0.8s cubic-bezier(0.25, 0.1, 0.25, 1) 0s; overflow: hidden; position: relative; transform: translate(0px, 0px); opacity: 1; display: inline-block; vertical-align: top; font-family: &quot;Microsoft YaHei&quot;, é»‘ä½“, å®‹ä½“, sans-serif; font-size: 0px; white-space: normal; background-color: rgb(255, 255, 255);">
                    <p><span style="color: rgb(51, 51, 51); font-size: 24px; font-weight: bold;"><br/></span></p>
                    <p><span style="color: rgb(51, 51, 51); font-size: 24px; font-weight: bold;"><br/></span></p>
                    <p><span style="color: rgb(51, 51, 51); font-size: 24px; font-weight: bold;"><img
                            src="/front/images/1574404722621329gqmi.jpg" title="1574404722621329GqMI.jpg"
                            alt="优倍工厂（改小图）.jpg"/></span></p>
                    <div aos="fade-right" style="white-space: normal;"></div>
                </div>
                <div class="font aos-init aos-animate" aos="fade-left"
                     style="transition: all 0.8s cubic-bezier(0.25, 0.1, 0.25, 1) 0s; transform: translate(0px, 0px); opacity: 1; display: inline-block; vertical-align: top; box-sizing: border-box; font-family: &quot;Microsoft YaHei&quot;, é»‘ä½“, å®‹ä½“, sans-serif; font-size: 0px; background-color: rgb(255, 255, 255);">
                    <p class="ti"><span
                            style="color: rgb(51, 51, 51); font-size: 24px; font-weight: bold;">南京优倍电气有限公司</span></p>
                    <div class="de"
                         style="transition: all 0.5s ease 0s; font-size: 16px; color: rgb(64, 64, 64); line-height: 30px;">
                        <p style="margin-top: 0px; transition: all 0.5s ease 0s; padding: 0px; text-align: justify;">
                            南京优倍电气有限公司成立于2002年，江苏省高新技术企业。公司致力于安全栅、隔离器、温度变送器、电涌保护器等工业信号接口仪表的研发制造，并主持起草安全栅等产品国家标准，年销售总额过亿元，是国内该专业领域技术及市场主要的供应商之一，品牌及品质享受盛誉。公司是中国仪器仪表学会常务理事单位、工信部两化融合体系贯标试点单位、工信部智能制造标准化示范验证单位，江苏省、南京市首批示范智能工厂；由于近年来企业发展成就突出，2016年起，先后被江苏省省委、省政府授予百家“江苏省优秀企业”、五十家“江苏制造突出贡献奖优秀企业”、“江苏科技小巨人企业”等光荣称号。</p>
                    </div>
                </div>
            </div>
        </div>
        <ul class="num-ul" aos="fade-up">
            <li>
                <div class="num-c">
                    <p><span class="num"><span class="n1">2002</span></span>年</p>
                    <p>成立于</p>
                </div>
            </li>
            <li>
                <div class="num-c">
                    <p><span class="num"><span class="n2">260</span><i>+</i></span>名</p>
                    <p>拥有员工</p>
                </div>
            </li>
            <li>
                <div class="num-c">
                    <p><span class="num"><span class="n3">40</span>%</span>以上</p>
                    <p>中、高级职称及硕士以上学历</p>
                </div>
            </li>
        </ul>
        <p style="transition: all 0.8s cubic-bezier(0.25, 0.1, 0.25, 1) 0s; transform: translate(0px, 0px); opacity: 1; font-family: &quot;Microsoft YaHei&quot;, é»‘ä½“, å®‹ä½“, sans-serif; font-size: 14px; white-space: normal; background-color: rgb(255, 255, 255); text-align: center;">
            <img src="/front/images/1562745338158462zldm.jpg" title="1562745338158462ZLdM.jpg" alt="复件-优倍效果图.jpg"/></p>
        <p style="transition: all 0.8s cubic-bezier(0.25, 0.1, 0.25, 1) 0s; transform: translate(0px, 0px); opacity: 1; font-family: &quot;Microsoft YaHei&quot;, é»‘ä½“, å®‹ä½“, sans-serif; font-size: 14px; white-space: normal; background-color: rgb(255, 255, 255);">
            <br/></p>
        <p style="transition: all 0.8s cubic-bezier(0.25, 0.1, 0.25, 1) 0s; transform: translate(0px, 0px); opacity: 1; font-family: &quot;Microsoft YaHei&quot;, é»‘ä½“, å®‹ä½“, sans-serif; font-size: 14px; white-space: normal; background-color: rgb(255, 255, 255); text-align: center;">
            优倍江宁经济开发区金鑫路优倍智造园</p>
        <p style="transition: all 0.8s cubic-bezier(0.25, 0.1, 0.25, 1) 0s; transform: translate(0px, 0px); opacity: 1; font-family: &quot;Microsoft YaHei&quot;, é»‘ä½“, å®‹ä½“, sans-serif; font-size: 14px; white-space: normal; background-color: rgb(255, 255, 255);">
            <br/></p>
        <p style="transition: all 0.8s cubic-bezier(0.25, 0.1, 0.25, 1) 0s; transform: translate(0px, 0px); opacity: 1; font-family: &quot;Microsoft YaHei&quot;, é»‘ä½“, å®‹ä½“, sans-serif; font-size: 14px; white-space: normal; background-color: rgb(255, 255, 255);">
            <br/></p>
        <div class="de aos-init aos-animate" aos="fade-up"
             style="transition: all 0.8s cubic-bezier(0.25, 0.1, 0.25, 1) 0s; transform: translate(0px, 0px); color: rgb(64, 64, 64); line-height: 30px; opacity: 1; font-family: &quot;Microsoft YaHei&quot;, é»‘ä½“, å®‹ä½“, sans-serif; white-space: normal; background-color: rgb(255, 255, 255);">
            <p>
                　　技术领先是公司发展的源动力，全公司现有员工160余名，研发人员过百名，其中中、高级职称及硕士以上学历人员占40%以上。建有江苏省研究生工作站、南京市工程应用研究中心等科研机构，并为TC124、TC9国标委委员单位，在工业测控、本安防爆、工业软件等领域有着深厚的科研基础及广泛的应用经验。研发中心拥有一流的EMC、环境等试验室，产品通过了SIL、ATEX、IECEx、CCS、CE、FCC等多项国内、国际认证。</p>
            <p><br/></p>
            <p>
                　　自2012年开始，公司以智能制造为目标规划、建设智能工厂，现拥有柔性SMT、机器人、智能物料塔、选择性波峰焊、数字化高低温老化测试房等一系列世界先进的智能装备，并在已应用的ERP基础上，又自行开发应用了PLM、MES、仿真等信息化软件，使得产品品质的全生命周期得到可靠保证。</p>
            <p style="transition: all 0.5s ease 0s; margin-top: 0px; padding: 0px; text-align: justify;"><br/></p>
            <p style="transition: all 0.5s ease 0s; margin-top: 0px; padding: 0px; text-align: center;"><img
                    src="/front/images/prof3.jpg"/>&nbsp; &nbsp; &nbsp;<img src="/front/images/prof4.jpg"/>&nbsp; &nbsp;
                &nbsp;<img src="/front/images/prof5.jpg"/>&nbsp;</p>
            <p style="transition: all 0.5s ease 0s; margin-top: 0px; padding: 0px;"><br/></p>
            <p style="transition: all 0.5s ease 0s; margin-top: 0px; padding: 0px;">
                　　公司拥有遍布国内外三千余家庞大的客户群，产品广泛应用于石油化工、冶金、电力、环保、能源、制药、造船、航空航天、军工、设备成套、系统集成等领域，为我国多项重大工程及战略项目做出了重要贡献。<br/></p>
        </div>
        <p><br/></p></div>


    <footer th:replace="front/footer::footer"></footer>
</body>
</html>