<html xmlns:th="http://www.thymeleaf.org">

<header th:replace="front/header::head"></header>
<body>
<div class="ban" aos="fade-zoom-in">
    <img src="/front/images/156214559067463s0tt.jpg" class="pcban">
</div>

<div class="nav">
    <div class="w1200 clear" aos="fade-left">
        <div class="left">
            <img src="/front/images/nav.png" alt="">
            <a href="javascript:;">公司</a>
            <img src="/front/images/nav2.png" class="nav2">
            <a href="javascript:;">技术研发</a>
        </div>
        <ul class="right">
            <li>
                <a href="/company/showProfile">公司简介</a>
            </li>
            <li>
                <a href="/company/showIdea">企业理念</a>
            </li>
            <li>
                <a href="/company/showLeader">企业领军</a>
            </li>
            <li>
                <a href="/company/showHonour">资质荣誉</a>
            </li>
            <li>
                <a href="/company/showProduce">智能制造</a>
            </li>
            <li>
                <a href="/company/showMix">两化融合</a>
            </li>
            <li class="act">
                <a href="/company/showTech">技术研发</a>
            </li>
        </ul>
    </div>
</div>
<div class="tech w1200">
    <div class="about-ti" aos="fade-up">技术研发</div>
    <div class="top">
        <div class="dl" aos="fade-right">
            <div class="ti">技术研发</div>
            <ul class="tech-ul">
                <li>
                    <div class="one"><img src="/front/images/yuan.png" alt="">硬件、软件功能安全技术</div>
                    <div class="teo"><img src="/front/images/yuan.png" alt="">本质安全防爆技术</div>
                </li>
                <li>
                    <div class="one"><img src="/front/images/yuan.png" alt="">仪表信号抗干扰技术</div>
                    <div class="teo"><img src="/front/images/yuan.png" alt=""> 信号、电源等抗浪涌技术</div>
                </li>
                <li>
                    <div class="one"><img src="/front/images/yuan.png" alt="">小信号转换及高精度传输技术</div>
                    <div class="teo"><img src="/front/images/yuan.png" alt=""> 创新型低功耗硬件电路技术</div>
                </li>
                <li>
                    <div class="one"><img src="/front/images/yuan.png" alt="">磁性材料、安全关键器件-保险丝等器件</div>
                    <div class="teo"><img src="/front/images/yuan.png" alt="">研发及生产过程信息化软件</div>
                </li>
                <li>
                    <div class="one"><img src="/front/images/yuan.png" alt="">自动化装备及治具</div>
                    <div class="teo"><img src="/front/images/yuan.png" alt=""> 所获技术专利及软件知识产权70余项</div>
                </li>


            </ul>
        </div>
        <div class="dr" aos="fade-left">
            <img src="http://www.anpe.cn/web/upload/2019/06/13/15604068097244gsxxz.jpg" alt="">
        </div>
    </div>
</div>
<footer th:replace="front/footer::footer"></footer>

</body>

</html>