<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="front/header::head"></header>
<body>
<div class="ban" aos="fade-zoom-in">
    <img src="/front/images/15629206948954qxmtw.jpg" class="pcban">
    <img src="/front/images/ff819ca882c14e79a1090cca91daa394.gif" class="mban">
</div>
<div class="nav">
    <div class="w1200 clear" aos="fade-left">
        <div class="left">
            <img src="/front/images/nav.png" alt="">
            <a href="javascript:;">服务</a>
            <img src="/front/images/nav2.png" class="nav2">
            <a href="javascript:;">售后服务</a>
        </div>
        <ul class="right">
            <li class="act">
                <a href="/application/after">售后服务</a>
            </li>
            <li>
                <a href="/application/ques">常见问题</a>
            </li>
        </ul>
    </div>
</div>
<div class="aft w1200 ">
    <div class="sel-ti" aos="fade-up">售后服务</div>
    <div class="sel-dezi" aos="fade-up"></div>
    <div class="aft-de">
        <div class="dl" aos="fade-right">
            <div class="top">
                <img src="/front/images/aft1.png" class="left">
                <div class="top-ti">技术支持热线：</div>
                <div class="num">0561-5218951</div>
            </div>
            <ul class="aft-ul list-paddingleft-2" style="list-style-type: none;">
                <li style=""><p>优秀的售后团队高效而卓具激情</p></li>
                <li style=""><p>提供高效而专业的售前、售后技术支持</p></li>
                <li style=""><p>合同签订、生产计划、生产过程、发货派送等全程信息化</p></li>
                <li style=""><p>十年质保，终身提供售后服务</p></li>
            </ul>
            <p><br/></p></div>
        <div class="dr" aos="fade-left">
            <img src="/front/images/kefu.jpg" alt="">
        </div>
    </div>
</div>
<footer th:replace="front/footer::footer"></footer>
</body>

</html>