<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="front/header::head"></header>
<link rel="stylesheet" href="/front/css/swiper.min.css" type="text/css" media="screen" charset="utf-8"><script src="/front/js/swiper.min.js" type="text/javascript" charset="utf-8"></script></head>
<!-- pc -->
<div class="banner pcbanner" aos="fade-zoom-in">
    <div class="swiper-container">
        <!--轮播内容-->
        <div class="swiper-wrapper">
            <th:block th:each="rotation:${rotations}">
            <div class="swiper-slide" >
                <a th:href="${rotation.url==null?'#':rotation.url}"><img th:src="${rotation.imgUrl}" alt=""></a>
            </div>
            </th:block>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>
<!-- 手机 -->
<div class="banner mbanner" aos="fade-zoom-in">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href=""><img src="/front/images/775cfdc012aa4938b1b668aac5e99d02.gif" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href=""><img src="/front/images/775cfdc012aa4938b1b668aac5e99d02.gif" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href=""><img src="/front/images/775cfdc012aa4938b1b668aac5e99d02.gif" alt=""></a>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>
<div style="position: relative;height:1px;">
    <div style="position: absolute; top: -300px;" class="xian" id="br"></div>
</div>
<div class="wel-ban content">
    <div class="wel-title" aos="fade-left">
        品牌<span>brand</span>
    </div>
    <div class="wb-c">
        <div class="wb-vid" aos="fade-up">
            <div class="wb-t" hr="http://player.youku.com/embed/XNDQxOTAxODMwNA==?client_id=01cb99474f096a04">
                <div class="pic">
                    <img src="http://www.anpe.cn/web/upload/2019/10/30/15724284451284c2ncs.jpg" alt="">
                </div>
                <div class="top">
                    <img src="/front/images/vbtn.png" class="center">
                </div>
            </div>
            <div class="de">
                <a href="http://www.anpe.cn/index.php/news/cid/52.html">媒体关注</a>
                <a href="http://www.anpe.cn/index.php/join/active.html">团建活动</a>
                <a href="http://www.anpe.cn/index.php/video/more.html">视频中心<img src="/front/images/more.png" alt=""></a>
            </div>
        </div>
        <div class="xb-video">
            <div class="center">
                <i onclick="cli()">+</i>
                <!-- <img src="images/c.png" alt="" onclick="cli()" class='i'> -->
                <iframe width="660" height="400" src="" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>

        <a href="javascript:;" class="wb-ar" aos="fade-up">
            <div class="wb-t" hr="http://player.youku.com/embed/XNDQ1NzY2ODM5Ng==?client_id=01cb99474f096a04">
                <div class="pic"><img
                        src="/front/images/1575874632042744cw5.jpg" alt="">
                    <div class="top">
                        <img src="/front/images/vbtn.png" class="center" style="width:auto;transform: translate(-50%, -50%)">
                    </div>
                </div>
            </div>
            <div class="de">“VR”看优倍</div>
        </a>
        <a href="http://www.anpe.cn/index.php/news/cid/53.html" class="wb-book" aos="fade-up">
            <div class="pic">
                <img src="http://www.anpe.cn/web/upload/2019/07/17/15633546060114u62pn.png" alt="">
            </div>
            <div class="de">管理内刊</div>
        </a>
        <a href="http://www.anpe.cn/index.php/news/cid/54.html" class="wb-book" aos="fade-up">
            <div class="pic">
                <img src="http://www.anpe.cn/web/upload/2019/07/17/1563354659562551d43.png" alt="">
            </div>
            <div class="de">产品故事</div>
        </a>
        <a href="http://www.anpe.cn/index.php/news/cid/55.html" class="wb-book" aos="fade-up">
            <div class="pic">
                <img src="http://www.anpe.cn/web/upload/2019/07/17/15633546876783p0ta9.png" alt="">
            </div>
            <div class="de">电子智造</div>
        </a>
    </div>
</div>
<div class="wel-prod content">
    <div class="wel-title" aos="fade-left">
        产品<span>product</span>
    </div>
    <div class="pro-more" aos="fade-up">
        <a href="http://www.anpe.cn/index.php/product/product.html">更多产品 <img src="/front/images/mo.png" alt=""></a>
    </div>
    <div class="prod" aos="fade-up">

        <a href="#" aos="fade-up">
            <div class="pic">
                <img src="/upload/uploadImg/压力测量系列.jpg" alt="">
            </div>
            <p>压力测量系列</p>

        </a>
        <a href="#" aos="fade-up">
            <div class="pic">
                <img src="/upload/uploadImg/液位测量系列.jpg" alt="">
            </div>
            <p>液位测量系列</p>

        </a>
        <a href="#" aos="fade-up">
            <div class="pic">
                <img src="/upload/uploadImg/流量计系列.jpg" alt="">
            </div>
            <p>流量计系列</p>

        </a>

        <a href="#" aos="fade-up">
            <div class="pic">
                <img src="/upload/uploadImg/信号隔离器.jpg" alt="">
            </div>
            <p>信号隔离器</p>

        </a>

        <a href="#" aos="fade-up">
            <div class="pic">
                <img src="/upload/uploadImg/电量变送器.jpg" alt="">
            </div>
            <p>电量变送器</p>

        </a>
        <a href="#" aos="fade-up">
            <div class="pic">
                <img src="/upload/uploadImg/温度检测系列.jpg" alt="">
            </div>
            <p>温度检测系列</p>

        </a>
        <a href="#" aos="fade-up">
            <div class="pic">
                <img src="/upload/uploadImg/开关电源.jpg" alt="">
            </div>
            <p>开关电源</p>

        </a>
        <a href="#" aos="fade-up">
            <div class="pic">
                <img src="/upload/uploadImg/数显测控仪.jpg" alt="">
            </div>
            <p>数显测控仪</p>

        </a>
    </div>
</div>
<div class="wel-info content">
    <div class="wel-title" aos="fade-left">
        资讯<span>Information</span>
    </div>
    <div class="info-t" aos="fade-up">
        <a href="/news/list">全部</a>
        <th:block th:each="meta,userStat: ${metas}">
            <a th:href="${'/news/meta/'+meta.metaName}" th:text="${meta.metaName}">美食</a>
        </th:block>
        <a href="/news/list">更多<i></i></a>
    </div>
    <div class="wel-new clear">
        <div class="left" aos="fade-right">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" th:each="article:${articles}">
                        <a th:href="${'/article/detail/'+article.aid}">
                            <div class="pic"><img th:src="${article.thumbImg}" alt=""></div>
                            <div class="font">
                                <div class="time" th:text="${dateKit.formatDateByUnixTime(article.createTime).substring(5,10)}">12-23</div>
                                <div class="ti">
                                    <div class="tit" th:text="${article.title}">中石化框架招标：优倍浪涌保护器荣获第一，安全栅再度入围</div>
                                    <div class="de" th:text="${article.subtitle}">为优倍电气与中石化持续广泛而深度的合作奠定了基础。</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="right getNews" aos="fade-left">
            <th:block th:each="article:${articles}">
            <a th:href="${'/article/detail/'+article.aid}">
                <div class="ra">
                    <div class="zi"><i></i><span th:text="${article.title}"></span></div>
                    <div class="date"><span th:text="${dateKit.formatDateByUnixTime(article.createTime).substring(5,10)}">12-23</span></div>
                </div>
            </a>
            </th:block>
        </div>
    </div>
</div>
<div class="prod content wel-d">
    <a href="/select/index" aos="fade-right">
        <div class="pic">
            <img src="/front/images/d1.jpg" alt="">
        </div>
        <p>快速选型</p>
    </a>
    <a href="/application/after" aos="fade-right">
        <div class="pic">
            <img src="/front/images/d2.jpg" alt="">
        </div>
        <p>客户服务</p>
    </a>
    <a href="/application/index" aos="fade-left">
        <div class="pic">
            <img src="/front/images/d3.jpg" alt="">
        </div>
        <p>行业应用</p>
    </a>
    <a href="/news/list" aos="fade-left">
        <div class="pic">
            <img src="/front/images/d4.jpg" alt="">
        </div>
        <p>新闻中心</p>
    </a>
</div>
<footer th:replace="front/footer::footer"></footer>
</body>
<script>
    function cli(){
        $('.xb-video').fadeOut();
        var src = '';
        $('.xb-video').find('iframe').attr('src',src);
    }
    $(function(){
        $('.wb-t').click(function(){
            var hr = $(this).attr('hr');
            $('.xb-video').fadeIn();
            $('.xb-video').find('iframe').attr('src',hr);
        })


        $(".info-t a").eq(0).addClass('act');
        $(".info-t a").click(function() {
            $(this).addClass('act');
            $(this).siblings().removeClass('act');
        })
        var swiper = new Swiper('.banner .swiper-container', {
            pagination: {
                el: '.swiper-pagination',
                clickable: true
            },
            speed: 600,
            loop: true,
            autoplay: true,
        });
        var swiper = new Swiper('.wel-new .swiper-container', {
            pagination: {
                el: '.swiper-pagination',
                clickable: true
            },
            loop: true,
            autoplay: true,
        });

        // $('.wb-ar').click(function(){
        //   alert('还在成长中，敬请期待哦！')
        // })
    })
</script>
</html>