<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="front/header::head"></header>
<div class="ban" aos="fade-zoom-in">
    <img src="/front/images/15619484831671hayp8.jpg" class="pcban">
    <img src="/front/images/1561948487001qof0e.jpg" class="mban">
</div>

<div class="nav">
    <div class="w1200 clear" aos="fade-left">
        <div class="left">
            <img src="/front/images/nav.png" alt="">
            <a href="http://www.anpe.cn/index.php/select/select.html">选型</a>
            <img src="/front/images/nav2.png" class="nav2">
            <a href="" onclick="return_his();return false;">隔离式安全栅</a>
            <img src="/front/images/nav2.png" class="nav2">
            <a href="javascript:;">NPEXA-C01H</a>
        </div>
    </div>
</div>

<div class="pro-de w1200">
    <div class="top">
        <div class="dl" aos="fade-right">
            <div class="swiper-container gallery-top">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/front/images/158312713872377tw1k.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="/front/images/15831271432155ruhpn.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="/front/images/1583127146844509y0b.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="/front/images/158312715070195y8q7.png" alt=""></div>

                </div>
            </div>
            <div class="pro-bo">
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="/front/images/158312713872377tw1k.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/front/images/15831271432155ruhpn.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/front/images/1583127146844509y0b.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="/front/images/158312715070195y8q7.png" alt=""></div>
                    </div>

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>

        </div>
        <div class="dr" aos="fade-left">
            <div class="bor">
                <div class="title clear">
                    <p class="left">NPEXA-C01H</p>

                    <!-- <a href="http://www.anpe.cn/index.php/select/select.html" class="right">快速选型>></a> -->
                </div>
                <div class="pic">
                    <div class="sd-de">
                        温度型输入安全栅，将危险区的热电偶、热电阻信号，经隔离转换为电流或电压信号输出到安全区，外置冷端补偿端子。该产品需要独立供电，输入、输出和电源三端隔离，具有在线故障自诊断功能，可以通过PC端或手持编程器对温度量程、信号类型等进行组态设置。
                    </div>
                    <div class="hou">
                        <img src="/front/images/15662714078513xrnch.jpg" alt="">
                        <form>
                            <div class="fo-p">
                                <p>输入</p>
                                <div class="p">
                                    <label><input type="radio" name="a" class="radio">热电偶TC/热电阻RTD</label>
                                </div>

                            </div>
                            <div class="fo-p">
                                <p>输出</p>
                                <div class="p">
                                    <label><input type="radio" name="a" class="radio">4～20 mA</label>
                                    <label><input type="radio" name="a" class="radio">1～5 V</label>
                                    <label><input type="radio" name="a" class="radio">0～5 V</label>
                                    <label><input type="radio" name="a" class="radio">0～10 V</label>
                                    <label><input type="radio" name="a" class="radio">0～20 mA</label>
                                </div>

                            </div>
                            <div class="fo-p">
                                <p>通道</p>
                                <div class="p">
                                    <label><input type="radio" name="a" class="radio">一入一出</label>
                                </div>

                            </div>
                            <div class="fo-p">
                                <p>供电</p>
                                <div class="p">
                                    <label><input type="radio" name="a" class="radio">24 V DC端子供电</label>
                                    <label><input type="radio" name="a" class="radio">导轨总线供电</label>
                                </div>

                            </div>


                        </form>
                    </div>
                    <em class="bdsharebuttonbox">
                        <a href="#" class="bds_more" data-cmd="more">分享</a>
                    </em>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="sel-de w1200">
    <div class="top">
        <div class="num">NPEXA-C01H</div>
        <div class="link">
            <a href="javascript:;" class="act">产品介绍</a>
            <a href="javascript:;">技术参数</a>

            <a href="javascript:;">配件</a>
            <a href="javascript:;">下载</a>
        </div>
        <div class="btn">
            <a href="javascript:;" class="jia" id-data="383" t-data="NPEXA-C01H" p-data="images/158312713872377tw1k.jpg"
               type-data="一入一出 "
               intro-data="温度型输入安全栅，将危险区的热电偶、热电阻信号，经隔离转换为电流或电压信号输出到安全区，外置冷端补偿端子。该产品需要独立供电，输入、输出和电源三端隔离，具有在线故障自诊断功能，可以通过PC端或手持编程器对温度量程、信号类型等进行组态设置。">加入对比</a>
            <a href="javascript:;" id-data="383" onclick="addPro(this);return false;">加入选型</a>
        </div>
    </div>
    <!--  -->
    <div class="bot">
        <!-- 产品介绍 -->
        <div class="bot-one">
            <p style="margin-bottom: 20px; white-space: normal; transition: all 0.5s ease 0s; font-family: &quot;Microsoft YaHei&quot;, é»‘ä½“, å®‹ä½“, sans-serif; font-size: 20px; color: rgb(51, 51, 51); font-weight: bold; background-color: rgb(255, 255, 255);">
                【核心技术】</p>
            <p style="white-space: normal; text-align: center;"><img src="/front/images/1574156198395034sx1t.jpg"
                                                                     title="1574156198395034Sx1t.jpg" alt="C介绍.jpg"/>
            </p>
            <p style="white-space: normal;"><span
                    style="color: rgb(51, 51, 51); font-family: &quot;Microsoft YaHei&quot;, é»‘ä½“, å®‹ä½“, sans-serif; font-size: 20px; font-weight: 700; text-align: justify; background-color: rgb(255, 255, 255);">【安装与拆卸】</span>
            </p>
            <p style="white-space: normal;"><span
                    style="color: rgb(51, 51, 51); font-family: &quot;Microsoft YaHei&quot;, é»‘ä½“, å®‹ä½“, sans-serif; font-size: 20px; font-weight: 700; text-align: justify; background-color: rgb(255, 255, 255);"><br/></span>
            </p>
            <p style="white-space: normal;"><span
                    style="color: rgb(51, 51, 51); font-family: &quot;Microsoft YaHei&quot;, é»‘ä½“, å®‹ä½“, sans-serif; font-size: 20px; font-weight: 700; text-align: justify; background-color: rgb(255, 255, 255);"><br/></span>
            </p>
            <p style="white-space: normal; text-align: center;"><span
                    style="color: rgb(51, 51, 51); font-family: &quot;Microsoft YaHei&quot;, é»‘ä½“, å®‹ä½“, sans-serif; font-size: 20px; font-weight: 700; text-align: justify; background-color: rgb(255, 255, 255);"><img
                    src="/front/images/1574156311157498.gif" title="1568941276230172i3pk.gif" alt="BB.gif"/><img
                    src="/front/images/1574156312217073.gif" title="1568941280378607Kuvt.gif" alt="CC.gif"/></span></p>
            <div style="white-space: normal; transition: all 0.5s ease 0s; font-size: 0px; font-family: &quot;Microsoft YaHei&quot;, é»‘ä½“, å®‹ä½“, sans-serif; background-color: rgb(255, 255, 255);">
                <p style="margin-top: 0px; margin-bottom: 0px; transition: all 0.5s ease 0s; padding: 0px; font-size: 16px; color: rgb(51, 51, 51);">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                <p style="margin-top: 0px; margin-bottom: 0px; transition: all 0.5s ease 0s; padding: 0px; font-size: 16px; color: rgb(51, 51, 51); text-align: center;">
                    <strong><span style="font-size: 18px;">安装</span></strong>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;&nbsp;<strong><span style="font-size: 18px;">&nbsp;拆卸</span></strong></p>
                <div><strong><span style="font-size: 18px;"><br/></span></strong></div>
            </div>
            <p><br/></p></div>
        <!-- 技术参数 -->
        <div class="bot-two wrapper">
            <div id="nav" class="content_1" style="overflow: auto;">
                <a class="active bold">【技术参数】</a>
                <a href="#page2">电源</a>
                <a href="#page3">输入</a>
                <a href="#page4">输出</a>
                <a href="#page5">传输特性</a>
                <a href="#page6">基本参数</a>
                <a href="#page7">EMC特性</a>
                <a href="#page8">工作环境</a>
                <a href="#page9">状态描述</a>
                <a class="active bold">【机械特性】</a>
                <a href="#page10">机械特性</a>
                <a class="active bold">【认证信息】</a>
                <a href="#page11">认证信息</a>
            </div>
            <div id="main">
                <div class="mainPage" id="page2">
                    <div class="ti">电源</div>
                    <table>
                        <!-- Array
(
[0] => Array
    (
        [id] => 17
        [cid] => 199
        [ccid] => 383
        [sort_id] => 6
        [audit] => 0
        [flag] => 0
        [ctype] => 652
        [title] =>
        [title_type] => 供电电源
        [title_seo] =>
        [tags] =>
        [intro] =>
        [photo] =>
        [thumb] =>
        [timeline] => 1563354249
        [content] => 18 ~ 60 V DC
    )

)
-->

                        <tr>
                            <td>供电电源</td>
                            <td>18 ~ 60 V DC</td>
                        </tr>
                    </table>
                </div>
                <div class="mainPage" id="page3">
                    <div class="ti">输入</div>
                    <table>
                        <!-- Array
(
[0] => Array
    (
        [id] => 18
        [cid] => 199
        [ccid] => 383
        [sort_id] => 7
        [audit] => 0
        [flag] => 0
        [ctype] => 653
        [title] =>
        [title_type] => 输入信号
        [title_seo] =>
        [tags] =>
        [intro] =>
        [photo] =>
        [thumb] =>
        [timeline] => 1563354229
        [content] => K、E、S、B、J、T、R、N等热电偶；Pt100、Cu100、Cu50、BA1、BA2等热电阻
    )

[1] => Array
    (
        [id] => 97
        [cid] => 199
        [ccid] => 383
        [sort_id] => 83
        [audit] => 0
        [flag] => 0
        [ctype] => 653
        [title] =>
        [title_type] => 引线电阻
        [title_seo] =>
        [tags] =>
        [intro] =>
        [photo] =>
        [thumb] =>
        [timeline] => 1563340633
        [content] => ≤ 20 Ω/线
    )

)
-->

                        <tr>
                            <td>输入信号</td>
                            <td>K、E、S、B、J、T、R、N等热电偶；Pt100、Cu100、Cu50、BA1、BA2等热电阻</td>
                        </tr>

                        <tr>
                            <td>引线电阻</td>
                            <td>≤ 20 Ω/线</td>
                        </tr>
                    </table>
                </div>
                <div class="mainPage" id="page4">
                    <div class="ti">输出</div>
                    <table>
                        <!-- Array
(
[0] => Array
    (
        [id] => 43
        [cid] => 199
        [ccid] => 383
        [sort_id] => 31
        [audit] => 0
        [flag] => 0
        [ctype] => 654
        [title] =>
        [title_type] => 输出信号
        [title_seo] =>
        [tags] =>
        [intro] =>
        [photo] =>
        [thumb] =>
        [timeline] => 1563155082
        [content] => 4 ~ 20 mA
    )

[1] => Array
    (
        [id] => 98
        [cid] => 199
        [ccid] => 383
        [sort_id] => 84
        [audit] => 0
        [flag] => 0
        [ctype] => 654
        [title] =>
        [title_type] => 允许负载
        [title_seo] =>
        [tags] =>
        [intro] =>
        [photo] =>
        [thumb] =>
        [timeline] => 1563340691
        [content] => RL ≤ 550 Ω
    )

)
-->

                        <tr>
                            <td>输出信号</td>
                            <td>4 ~ 20 mA</td>
                        </tr>

                        <tr>
                            <td>允许负载</td>
                            <td>RL ≤ 550 Ω</td>
                        </tr>
                    </table>
                </div>
                <div class="mainPage page5" id="page5">
                    <div class="ti">传输特性</div>
                    <table>
                        <tr>
                            <td>转换精度</td>
                            <td>信号类型</td>
                            <td>测量范围</td>
                            <td class="c1">量程范围/转换精度</td>
                        </tr>
                        <tr class="shao">
                            <td></td>
                            <td>K</td>
                            <td>-200 ℃ ~ +1372 ℃</td>
                            <td>＜300 ℃，±0.3 ℃</td>
                            <td>≥300 ℃，±0.1 %F.S</td>
                        </tr>
                        <tr class="shao">
                            <td></td>
                            <td>E</td>
                            <td>-100 ℃ ~ +1000 ℃</td>
                            <td>＜300 ℃，±0.3 ℃</td>
                            <td>≥300 ℃，±0.1 %F.S</td>
                        </tr>
                        <tr class="shao">
                            <td></td>
                            <td>J</td>
                            <td>-100 ℃ ~ +1200 ℃</td>
                            <td>＜300 ℃，±0.3 ℃</td>
                            <td>≥300 ℃，±0.1 %F.S</td>
                        </tr>
                        <tr class="shao">
                            <td></td>
                            <td>N</td>
                            <td>-200 ℃ ~ +1300 ℃</td>
                            <td>＜300 ℃，±0.3 ℃</td>
                            <td>≥300 ℃，±0.1 %F.S</td>
                        </tr>
                        <tr class="shao">
                            <td></td>
                            <td>S</td>
                            <td>-50 ℃ ~ +1768 ℃</td>
                            <td>＜500 ℃，±0.5 ℃</td>
                            <td>≥500 ℃，±0.1 %F.S</td>
                        </tr>
                        <tr class="shao">
                            <td></td>
                            <td>R</td>
                            <td>-50 ℃ ~ +1768 ℃</td>
                            <td>＜500 ℃，±0.5 ℃</td>
                            <td>≥500 ℃，±0.1 %F.S</td>
                        </tr>
                        <tr class="shao">
                            <td></td>
                            <td>T</td>
                            <td>-20 ℃ ~ +400 ℃</td>
                            <td>＜300 ℃，±0.3 ℃</td>
                            <td>≥300 ℃，±0.1 %F.S</td>
                        </tr>
                        <tr class="shao">
                            <td></td>
                            <td>B</td>
                            <td>+400 ℃ ~ +1820 ℃</td>
                            <td>＜500 ℃，±0.5 ℃</td>
                            <td>≥500 ℃，±0.1 %F.S</td>
                        </tr>
                        <tr class="shao">
                            <td></td>
                            <td>Pt100</td>
                            <td>-200 ℃ ~ +850 ℃</td>
                            <td>＜100 ℃，±0.1 ℃</td>
                            <td>≥100 ℃，±0.1 %F.S</td>
                        </tr>
                        <tr class="shao">
                            <td></td>
                            <td>Cu50</td>
                            <td>-50 ℃ ~ +150 ℃</td>
                            <td>＜100 ℃，±0.1 ℃</td>
                            <td>≥100 ℃，±0.1 %F.S</td>
                        </tr>
                        <tr class="shao">
                            <td></td>
                            <td>Cu100</td>
                            <td>-50 ℃ ~ +150 ℃</td>
                            <td>＜100 ℃，±0.1 ℃</td>
                            <td>≥100 ℃，±0.1 %F.S</td>
                        </tr>
                        <tr class="la">
                            <td>温度漂移</td>
                            <td>30 ppm/℃</td>
                        </tr>
                    </table>
                </div>
                <div class="mainPage" id="page6">
                    <div class="ti">基本参数</div>
                    <table>
                        <!-- Array
(
[0] => Array
    (
        [id] => 21
        [cid] => 199
        [ccid] => 383
        [sort_id] => 10
        [audit] => 0
        [flag] => 0
        [ctype] => 656
        [title] =>
        [title_type] => 补偿精度
        [title_seo] =>
        [tags] =>
        [intro] =>
        [photo] =>
        [thumb] =>
        [timeline] => 1563354658
        [content] => 1 ℃ (补偿范围：-20 ℃ ~ +60 ℃)
    )

[1] => Array
    (
        [id] => 22
        [cid] => 199
        [ccid] => 383
        [sort_id] => 11
        [audit] => 0
        [flag] => 0
        [ctype] => 656
        [title] =>
        [title_type] => 响应时间
        [title_seo] =>
        [tags] =>
        [intro] =>
        [photo] =>
        [thumb] =>
        [timeline] => 1563353833
        [content] => ≤ 500 ms
    )

[2] => Array
    (
        [id] => 23
        [cid] => 199
        [ccid] => 383
        [sort_id] => 12
        [audit] => 0
        [flag] => 0
        [ctype] => 656
        [title] =>
        [title_type] => 工作功耗
        [title_seo] =>
        [tags] =>
        [intro] =>
        [photo] =>
        [thumb] =>
        [timeline] => 1563354209
        [content] => 0.8 W
    )

)
-->

                        <tr>
                            <td>补偿精度</td>
                            <td>1 ℃ (补偿范围：-20 ℃ ~ +60 ℃)</td>
                        </tr>

                        <tr>
                            <td>响应时间</td>
                            <td>≤ 500 ms</td>
                        </tr>

                        <tr>
                            <td>工作功耗</td>
                            <td>0.8 W</td>
                        </tr>
                    </table>
                </div>
                <div class="mainPage" id="page7">
                    <div class="ti">EMC特性</div>
                    <table>
                        <!-- Array
(
[0] => Array
    (
        [id] => 25
        [cid] => 199
        [ccid] => 383
        [sort_id] => 14
        [audit] => 0
        [flag] => 0
        [ctype] => 657
        [title] =>
        [title_type] => 电磁兼容
        [title_seo] =>
        [tags] =>
        [intro] =>
        [photo] =>
        [thumb] =>
        [timeline] => 1563155115
        [content] => IEC 61326-3-1
    )

[1] => Array
    (
        [id] => 26
        [cid] => 199
        [ccid] => 383
        [sort_id] => 15
        [audit] => 0
        [flag] => 0
        [ctype] => 657
        [title] =>
        [title_type] => 介电强度
        [title_seo] =>
        [tags] =>
        [intro] =>
        [photo] =>
        [thumb] =>
        [timeline] => 1563354167
        [content] => ≥ 3000 V AC (本安端与非本安端)；≥ 1500 V AC (非本安端与非本安端)
    )

[2] => Array
    (
        [id] => 27
        [cid] => 199
        [ccid] => 383
        [sort_id] => 16
        [audit] => 0
        [flag] => 0
        [ctype] => 657
        [title] =>
        [title_type] => 绝缘电阻
        [title_seo] =>
        [tags] =>
        [intro] =>
        [photo] =>
        [thumb] =>
        [timeline] => 1563354151
        [content] => ≥ 100 MΩ (输入/输出/电源之间)
    )

)
-->

                        <tr>
                            <td>电磁兼容</td>
                            <td>IEC 61326-3-1</td>
                        </tr>

                        <tr>
                            <td>介电强度</td>
                            <td>≥ 3000 V AC (本安端与非本安端)；≥ 1500 V AC (非本安端与非本安端)</td>
                        </tr>

                        <tr>
                            <td>绝缘电阻</td>
                            <td>≥ 100 MΩ (输入/输出/电源之间)</td>
                        </tr>
                    </table>
                </div>
                <div class="mainPage" id="page8">
                    <div class="ti">工作环境</div>
                    <table>
                        <!-- Array
(
[0] => Array
    (
        [id] => 28
        [cid] => 199
        [ccid] => 383
        [sort_id] => 16
        [audit] => 0
        [flag] => 0
        [ctype] => 658
        [title] =>
        [title_type] => 工作温度
        [title_seo] =>
        [tags] =>
        [intro] =>
        [photo] =>
        [thumb] =>
        [timeline] => 1563354136
        [content] => -20 ℃ ~ +60 ℃
    )

[1] => Array
    (
        [id] => 29
        [cid] => 199
        [ccid] => 383
        [sort_id] => 17
        [audit] => 0
        [flag] => 0
        [ctype] => 658
        [title] =>
        [title_type] => 储存温度
        [title_seo] =>
        [tags] =>
        [intro] =>
        [photo] =>
        [thumb] =>
        [timeline] => 1563355728
        [content] => -40 ℃ ~ +80 ℃
    )

[2] => Array
    (
        [id] => 24
        [cid] => 199
        [ccid] => 383
        [sort_id] => 18
        [audit] => 0
        [flag] => 0
        [ctype] => 658
        [title] =>
        [title_type] => 应用场所
        [title_seo] =>
        [tags] =>
        [intro] =>
        [photo] =>
        [thumb] =>
        [timeline] => 1563355741
        [content] => 安装于安全区，可连接0区、1区、2区；ⅡA、ⅡB、ⅡC；T4 ~ T6危险区的本安设备
    )

)
-->

                        <tr>
                            <td>工作温度</td>
                            <td>-20 ℃ ~ +60 ℃</td>
                        </tr>

                        <tr>
                            <td>储存温度</td>
                            <td>-40 ℃ ~ +80 ℃</td>
                        </tr>

                        <tr>
                            <td>应用场所</td>
                            <td>安装于安全区，可连接0区、1区、2区；ⅡA、ⅡB、ⅡC；T4 ~ T6危险区的本安设备</td>
                        </tr>
                    </table>
                </div>
                <div class="mainPage" id="page9">
                    <div class="ti">状态描述</div>
                    <table>
                        <!-- Array
(
[0] => Array
    (
        [id] => 115
        [cid] => 199
        [ccid] => 383
        [sort_id] => 97
        [audit] => 0
        [flag] => 0
        [ctype] => 659
        [title] =>
        [title_type] => 输出状态
        [title_seo] =>
        [tags] =>
        [intro] =>
        [photo] =>
        [thumb] =>
        [timeline] => 1563355091
        [content] => 在用户不特别指明的情况下，无论输入信号出现何种故障状态，在满量程范围内输出均跟随输入信号变化 (断线除外，断线输出0 V/mA)，但最大不超出输出量程上限的110% (如0 ~ 20 mA输出时，最小输出可为0 mA，最大不超过22 mA)
    )

)
-->

                        <tr>
                            <td>输出状态</td>
                            <td>在用户不特别指明的情况下，无论输入信号出现何种故障状态，在满量程范围内输出均跟随输入信号变化 (断线除外，断线输出0 V/mA)，但最大不超出输出量程上限的110% (如0 ~
                                20 mA输出时，最小输出可为0 mA，最大不超过22 mA)
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="mainPage" id="page10">
                    <div class="ti">机械特性</div>
                    <table>
                        <!-- Array
(
[0] => Array
    (
        [id] => 30
        [cid] => 199
        [ccid] => 383
        [sort_id] => 19
        [audit] => 0
        [flag] => 0
        [ctype] => 637
        [title] =>
        [title_type] => 连接方式
        [title_seo] =>
        [tags] =>
        [intro] =>
        [photo] =>
        [thumb] =>
        [timeline] => 1562896311
        [content] => 螺钉连接
    )

[1] => Array
    (
        [id] => 31
        [cid] => 199
        [ccid] => 383
        [sort_id] => 20
        [audit] => 0
        [flag] => 0
        [ctype] => 637
        [title] =>
        [title_type] => 规格尺寸
        [title_seo] =>
        [tags] =>
        [intro] =>
        [photo] =>
        [thumb] =>
        [timeline] => 1583127268
        [content] => 宽17.8 mm×高110 mm×深117 mm
    )

[2] => Array
    (
        [id] => 32
        [cid] => 199
        [ccid] => 383
        [sort_id] => 21
        [audit] => 0
        [flag] => 0
        [ctype] => 637
        [title] =>
        [title_type] => 安装方式
        [title_seo] =>
        [tags] =>
        [intro] =>
        [photo] =>
        [thumb] =>
        [timeline] => 1563354042
        [content] => DIN35 mm导轨安装
    )

)
-->

                        <tr>
                            <td>连接方式</td>
                            <td>螺钉连接</td>
                        </tr>

                        <tr>
                            <td>规格尺寸</td>
                            <td>宽17.8 mm×高110 mm×深117 mm</td>
                        </tr>

                        <tr>
                            <td>安装方式</td>
                            <td>DIN35 mm导轨安装</td>
                        </tr>
                    </table>
                </div>
                <div class="mainPage" id="page11">
                    <div class="ti">认证信息</div>
                    <table>
                        <!-- Array
(
[0] => Array
    (
        [id] => 33
        [cid] => 199
        [ccid] => 383
        [sort_id] => 22
        [audit] => 0
        [flag] => 0
        [ctype] => 638
        [title] =>
        [title_type] => 产品认证
        [title_seo] =>
        [tags] =>
        [intro] =>
        [photo] =>
        [thumb] =>
        [timeline] => 1563354028
        [content] => NEPSI, CE, FCC, CCS
    )

[1] => Array
    (
        [id] => 34
        [cid] => 199
        [ccid] => 383
        [sort_id] => 23
        [audit] => 0
        [flag] => 0
        [ctype] => 638
        [title] =>
        [title_type] => 防爆等级
        [title_seo] =>
        [tags] =>
        [intro] =>
        [photo] =>
        [thumb] =>
        [timeline] => 1563354010
        [content] => [Ex ia Ga]ⅡC
    )

[2] => Array
    (
        [id] => 35
        [cid] => 199
        [ccid] => 383
        [sort_id] => 24
        [audit] => 0
        [flag] => 0
        [ctype] => 638
        [title] =>
        [title_type] => 最高电压（Um）
        [title_seo] =>
        [tags] =>
        [intro] =>
        [photo] =>
        [thumb] =>
        [timeline] => 1563353991
        [content] => 250 V
    )

[3] => Array
    (
        [id] => 36
        [cid] => 199
        [ccid] => 383
        [sort_id] => 25
        [audit] => 0
        [flag] => 0
        [ctype] => 638
        [title] =>
        [title_type] => Uo
        [title_seo] =>
        [tags] =>
        [intro] =>
        [photo] =>
        [thumb] =>
        [timeline] => 1563353958
        [content] => 8.7 V (1、2、3端子间)
    )

[4] => Array
    (
        [id] => 37
        [cid] => 199
        [ccid] => 383
        [sort_id] => 26
        [audit] => 0
        [flag] => 0
        [ctype] => 638
        [title] =>
        [title_type] => Io
        [title_seo] =>
        [tags] =>
        [intro] =>
        [photo] =>
        [thumb] =>
        [timeline] => 1563353944
        [content] => 33 mA (1、2、3端子间)
    )

[5] => Array
    (
        [id] => 38
        [cid] => 199
        [ccid] => 383
        [sort_id] => 27
        [audit] => 0
        [flag] => 0
        [ctype] => 638
        [title] =>
        [title_type] => Po
        [title_seo] =>
        [tags] =>
        [intro] =>
        [photo] =>
        [thumb] =>
        [timeline] => 1563353930
        [content] => 72 mW (1、2、3端子间)
    )

[6] => Array
    (
        [id] => 39
        [cid] => 199
        [ccid] => 383
        [sort_id] => 28
        [audit] => 0
        [flag] => 0
        [ctype] => 638
        [title] =>
        [title_type] => Co
        [title_seo] =>
        [tags] =>
        [intro] =>
        [photo] =>
        [thumb] =>
        [timeline] => 1563353913
        [content] => 5 μF (1、2、3端子间)
    )

[7] => Array
    (
        [id] => 40
        [cid] => 199
        [ccid] => 383
        [sort_id] => 29
        [audit] => 0
        [flag] => 0
        [ctype] => 638
        [title] =>
        [title_type] => Lo
        [title_seo] =>
        [tags] =>
        [intro] =>
        [photo] =>
        [thumb] =>
        [timeline] => 1563353901
        [content] => 28 mH (1、2、3端子间)
    )

)
-->

                        <tr>
                            <td>产品认证</td>
                            <td>NEPSI, CE, FCC, CCS</td>
                        </tr>

                        <tr>
                            <td>防爆等级</td>
                            <td>[Ex ia Ga]ⅡC</td>
                        </tr>

                        <tr>
                            <td>最高电压（Um）</td>
                            <td>250 V</td>
                        </tr>

                        <tr>
                            <td>Uo</td>
                            <td>8.7 V (1、2、3端子间)</td>
                        </tr>

                        <tr>
                            <td>Io</td>
                            <td>33 mA (1、2、3端子间)</td>
                        </tr>

                        <tr>
                            <td>Po</td>
                            <td>72 mW (1、2、3端子间)</td>
                        </tr>

                        <tr>
                            <td>Co</td>
                            <td>5 μF (1、2、3端子间)</td>
                        </tr>

                        <tr>
                            <td>Lo</td>
                            <td>28 mH (1、2、3端子间)</td>
                        </tr>
                    </table>
                </div>


            </div>
        </div>
        <!-- 配件 -->
        <div class="bot-three">
            <div class="pei">
                <div class="pei-b">
                    <div class="pic"><img src="/front/images/15741632682014mnm10.jpg" alt=""></div>
                    <div class="font">
                        <a href="http://www.anpe.cn/index.php/select/peidetail/40/383.html" class="ti">NPPB-DIN
                            总线供电导轨</a>
                        <div class="de">总线供电导轨</div>
                    </div>

                </div>
                <div class="pei-b">
                    <div class="pic"><img src="/front/images/1574163248798u3pc2.jpg" alt=""></div>
                    <div class="font">
                        <a href="http://www.anpe.cn/index.php/select/peidetail/41/383.html" class="ti">NPPB-BS210
                            I/O端子基座</a>
                        <div class="de">连接导轨BUS基座，外部供电通过基座的接线端子引入。如果选择了冗余电源模块，此端子可不用选择。</div>
                    </div>

                </div>
                <div class="pei-b">
                    <div class="pic"><img src="/front/images/15741632104448nljc6.jpg" alt=""></div>
                    <div class="font">
                        <a href="http://www.anpe.cn/index.php/select/peidetail/42/383.html" class="ti">NPPB-BSC028
                            防尘盖</a>
                        <div class="de">保护外露的总线，根据需要可以拆分组合。</div>
                    </div>

                </div>
                <div class="pei-b">
                    <div class="pic"><img src="/front/images/15741632275156o8zqg.jpg" alt=""></div>
                    <div class="font">
                        <a href="http://www.anpe.cn/index.php/select/peidetail/43/383.html" class="ti">NPPB-SS5 限位器</a>
                        <div class="de">用于位置固定，标配2个一组</div>
                    </div>

                </div>
                <div class="pei-b">
                    <div class="pic"><img src="/front/images/15741630961477k3jvi.jpg" alt=""></div>
                    <div class="font">
                        <a href="http://www.anpe.cn/index.php/select/peidetail/44/383.html" class="ti">NPPB-TS35B
                            固定片</a>
                        <div class="de">材质：金属铁，用于导轨承重加固，标配2片。</div>
                    </div>

                </div>

            </div>
        </div>

        <!-- 下载 -->
        <div class="bot-foyr">
            <ul class="sd-down">
                <li>
                    <div class="sd-yi">
                        <label><input type="checkbox" class="all check">全选</label>
                    </div>
                    <div class="sd-er">编号</div>
                    <div class="sd-san">分类</div>
                    <div class="sd-si">名称</div>
                    <div class="sd-wu">语言</div>
                    <a href="" class="sd-liu">下载</a>
                </li>
                <li class="downli">
                    <div class="sd-yi">
                        <label><input type="checkbox" class="check child"></label>
                    </div>
                    <div class="sd-er">1</div>
                    <div class="sd-san">产品认证</div>
                    <a href="http://www.anpe.cn/web/upload/2020/04/27/15879502844807pypy4.pdf" class="sd-si"
                       target="_blank">NPEXA-C01-CCC证书（NEPSI）</a>
                    <div class="sd-wu">中文</div>
                    <a href="http://www.anpe.cn/web/upload/2020/04/27/15879502844807pypy4.pdf" class="sd-liu"
                       download><img src="/front/images/down.png" alt=""></a>
                </li>
                <li class="downli">
                    <div class="sd-yi">
                        <label><input type="checkbox" class="check child"></label>
                    </div>
                    <div class="sd-er">2</div>
                    <div class="sd-san">产品认证</div>
                    <a href="http://www.anpe.cn/web/upload/2019/10/08/157050310080682ej35.jpg" class="sd-si"
                       target="_blank">NPEXA-C01防爆合格证（NEPSI）</a>
                    <div class="sd-wu">中文</div>
                    <a href="http://www.anpe.cn/web/upload/2019/10/08/157050310080682ej35.jpg" class="sd-liu"
                       download><img src="/front/images/down.png" alt=""></a>
                </li>
                <li class="downli">
                    <div class="sd-yi">
                        <label><input type="checkbox" class="check child"></label>
                    </div>
                    <div class="sd-er">3</div>
                    <div class="sd-san">产品说明书</div>
                    <a href="http://www.anpe.cn/web/upload/2020/03/02/1583127478750258ql4.pdf" class="sd-si"
                       target="_blank">NPEXA-C01H产品说明书-中文</a>
                    <div class="sd-wu">中文</div>
                    <a href="http://www.anpe.cn/web/upload/2020/03/02/1583127478750258ql4.pdf" class="sd-liu"
                       download><img src="/front/images/down.png" alt=""></a>
                </li>
                <li class="downli">
                    <div class="sd-yi">
                        <label><input type="checkbox" class="check child"></label>
                    </div>
                    <div class="sd-er">4</div>
                    <div class="sd-san">产品选型单页</div>
                    <a href="http://www.anpe.cn/web/upload/2020/04/24/15877166750843e8za.pdf" class="sd-si"
                       target="_blank">NPEXA-C01H单页-中文</a>
                    <div class="sd-wu">中文</div>
                    <a href="http://www.anpe.cn/web/upload/2020/04/24/15877166750843e8za.pdf" class="sd-liu"
                       download><img src="/front/images/down.png" alt=""></a>
                </li>
                <li class="downli">
                    <div class="sd-yi">
                        <label><input type="checkbox" class="check child"></label>
                    </div>
                    <div class="sd-er">5</div>
                    <div class="sd-san">产品选型单页</div>
                    <a href="http://www.anpe.cn/web/upload/2020/04/24/15877166953023rqglx.pdf" class="sd-si"
                       target="_blank">NPEXA-C01H单页-英文</a>
                    <div class="sd-wu">英文</div>
                    <a href="http://www.anpe.cn/web/upload/2020/04/24/15877166953023rqglx.pdf" class="sd-liu"
                       download><img src="/front/images/down.png" alt=""></a>
                </li>

                <li>
                    <div class="sd-yi">
                        <label><input type="checkbox" class="all check">全选</label>
                    </div>
                    <div class="sd-er"></div>
                    <div class="sd-san"></div>
                    <div class="sd-si"></div>
                    <div class="sd-wu"></div>
                    <a href="javascript:;" class="sd-liu downall"><img src="/front/images/down.png" alt=""></a>
                </li>
            </ul>
        </div>

    </div>

</div>

<!-- 加入对比 -->
<div class="j-dui">
    <div class="w1200">
        <div class="j-box">
            <div class="j-b">
                <div class="pic"><img src="images/sel2.jpg" alt=""></div>
                <div class="font">
                    <div class="ti">
                        NPEXA-C11
                    </div>
                    <div class="de">
                        <p>一入一出</p>
                        <p>热电偶输入安全栅</p>
                    </div>
                </div>
                <img src="images/cha.png" class="cha">
            </div>

        </div>
        <div class="j-box"></div>
        <div class="j-box"></div>
        <div class="link">
            <a href="http://www.anpe.cn/index.php/select/contrast.html">去对比</a>
            <a href="javascript:;" class="dui-clear">清空对比栏</a>
        </div>
    </div>
</div>
<footer th:replace="front/footer::footer"></footer>
</body>

</html>